<!DOCTYPE html>
<html dir="{{ direction }}" lang="{{ lang }}">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  {% if robots %}
  <meta name="robots" content="{{ robots }}" />
  {% endif %}
  <base href="{{ base }}" />
  {% if description %}
  <meta name="description" content="{{ description }}" />
  {% endif %}
  {% if keywords %}
  <meta name="keywords" content="{{ keywords }}" />
  {% endif %}
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ og_url }}" />
  {% if og_image %}
  <meta property="og:image" content="{{ og_image }}" />
  {% else %}
  <meta property="og:image" content="{{ logo }}" />
  {% endif %}
  <meta property="og:site_name" content="{{ name }}" />
  <link href="{{ fonts_css }}" as="style" rel="preload" />
  <link href="{{ fonts_css }}" type="text/css" rel="stylesheet" />
  {% for link in links %}
  <link href="{{ link.href }}" rel="{{ link.rel }}"{% if link.as %} as="{{ link.as }}"{% endif %}{% if link.type %} type="{{ link.type }}"{% endif %}{% if link.crossorigin %} crossorigin="{{ link.crossorigin }}"{% endif %}/>
  {% endfor %}
  {% for style in styles %}
  <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
  {% endfor %}
  {% if not compress_js %}
  <script src="catalog/view/theme/default/js/jquery.min.js"></script>
  {% endif %}
  {% for script in scripts %}
  <script src="{{ script }}"></script>
  {% endfor %}
  {% for analytic in analytics %}
  {{ analytic }}
  {% endfor %}
</head>
<body class="{{ theme }} has-background-white-bis">
  <header>
    <div class="container">
      <div class="columns is-mobile is-align-items-center">
        <div class="column">
          <div class="columns is-mobile is-align-items-center is-justify-content-space-between">
            <div class="column is-narrow py-5 is-flex is-align-items-center">
              <div id="logo">
                {% if logo %}
                {% if home == og_url %}
                <span>
                  <img src="{{ logo }}" width="{{ logo_width }}"  height="{{ logo_height }}" alt="{{ title }}">
                </span>
                {% else %}
                <a href="{{ home }}">
                  <img src="{{ logo }}" width="{{ logo_width }}"  height="{{ logo_height }}" alt="{{ title }}">
                </a>
                {% endif %}
                {% else %}
                <a class="title is-1 mb-0" href="{{ home }}">{{ name }}</a>
                {% endif %}
              </div>
              {% if show_stores %}
              <div id="stores" class="is-clickable ml-5">
                <span class="icon-text">
                  <span class="icon has-text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                      <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                      <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                  </span>
                  <span class="has-text-gray has-text-weight-bold is-hidden-mobile">{{ city }}</span>
                </span>
              </div>
              {% endif %}
            </div>
            <div class="column is-narrow">
              <div class="header-contacts is-hidden-mobile">
                <a class="email icon-text mr-4" href="mailto:{{ email }}">
                  <span class="icon has-text-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="24" width="24">
                      <path d="m1.473125 4.82125 4.362500000000001 2.90875c0.6018749999999999 0.400625 0.9025 0.60125 1.2275 0.679375a1.875 1.875 0 0 0 0.8737499999999999 0c0.325 -0.078125 0.6256249999999999 -0.27875 1.2268750000000002 -0.679375l4.362500000000001 -2.90875M4.47375 12.1875h6.05375c1.05 0 1.575 0 1.9762499999999998 -0.204375a1.875 1.875 0 0 0 0.8187500000000001 -0.819375c0.20500000000000002 -0.40125 0.20500000000000002 -0.92625 0.20500000000000002 -1.9762499999999998V5.8125c0 -1.05 0 -1.575 -0.204375 -1.9762499999999998a1.875 1.875 0 0 0 -0.819375 -0.819375c-0.40125 -0.204375 -0.92625 -0.204375 -1.9762499999999998 -0.204375H4.473125c-1.05 0 -1.575 0 -1.9762499999999998 0.204375a1.875 1.875 0 0 0 -0.8187500000000001 0.819375c-0.20500000000000002 0.40125 -0.20500000000000002 0.92625 -0.20500000000000002 1.9762499999999998v3.375c0 1.05 0 1.575 0.204375 1.9762499999999998a1.875 1.875 0 0 0 0.819375 0.819375c0.40125 0.204375 0.92625 0.204375 1.9762499999999998 0.204375" stroke-width="1"></path>
                    </svg>
                  </span>
                  <span class="has-text-weight-bold ">{{ email }}</span>
                </a>
                <a class="phone icon-text" rel="nofollow" href="tel:{{ tel_link }}">
                  <span class="icon has-text-primary">
                    <svg width="20" height="20" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path d="M17.45 22.75C16.32 22.75 15.13 22.48 13.9 21.96C12.7 21.45 11.49 20.75 10.31 19.9C9.14 19.04 8.01 18.08 6.94 17.03C5.88 15.96 4.92 14.83 4.07 13.67C3.21 12.47 2.52 11.27 2.03 10.11C1.51 8.87 1.25 7.67 1.25 6.54C1.25 5.76 1.39 5.02 1.66 4.33C1.94 3.62 2.39 2.96 3 2.39C3.77 1.63 4.65 1.25 5.59 1.25C5.98 1.25 6.38 1.34 6.72 1.5C7.11 1.68 7.44 1.95 7.68 2.31L10 5.58C10.21 5.87 10.37 6.15 10.48 6.43C10.61 6.73 10.68 7.03 10.68 7.32C10.68 7.7 10.57 8.07 10.36 8.42C10.21 8.69 9.98 8.98 9.69 9.27L9.01 9.98C9.02 10.01 9.03 10.03 9.04 10.05C9.16 10.26 9.4 10.62 9.86 11.16C10.35 11.72 10.81 12.23 11.27 12.7C11.86 13.28 12.35 13.74 12.81 14.12C13.38 14.6 13.75 14.84 13.97 14.95L13.95 15L14.68 14.28C14.99 13.97 15.29 13.74 15.58 13.59C16.13 13.25 16.83 13.19 17.53 13.48C17.79 13.59 18.07 13.74 18.37 13.95L21.69 16.31C22.06 16.56 22.33 16.88 22.49 17.26C22.64 17.64 22.71 17.99 22.71 18.34C22.71 18.82 22.6 19.3 22.39 19.75C22.18 20.2 21.92 20.59 21.59 20.95C21.02 21.58 20.4 22.03 19.68 22.32C18.99 22.6 18.24 22.75 17.45 22.75ZM5.59 2.75C5.04 2.75 4.53 2.99 4.04 3.47C3.58 3.9 3.26 4.37 3.06 4.88C2.85 5.4 2.75 5.95 2.75 6.54C2.75 7.47 2.97 8.48 3.41 9.52C3.86 10.58 4.49 11.68 5.29 12.78C6.09 13.88 7 14.95 8 15.96C9 16.95 10.08 17.87 11.19 18.68C12.27 19.47 13.38 20.11 14.48 20.57C16.19 21.3 17.79 21.47 19.11 20.92C19.62 20.71 20.07 20.39 20.48 19.93C20.71 19.68 20.89 19.41 21.04 19.09C21.16 18.84 21.22 18.58 21.22 18.32C21.22 18.16 21.19 18 21.11 17.82C21.08 17.76 21.02 17.65 20.83 17.52L17.51 15.16C17.31 15.02 17.13 14.92 16.96 14.85C16.74 14.76 16.65 14.67 16.31 14.88C16.11 14.98 15.93 15.13 15.73 15.33L14.97 16.08C14.58 16.46 13.98 16.55 13.52 16.38L13.25 16.26C12.84 16.04 12.36 15.7 11.83 15.25C11.35 14.84 10.83 14.36 10.2 13.74C9.71 13.24 9.22 12.71 8.71 12.12C8.24 11.57 7.9 11.1 7.69 10.71L7.57 10.41C7.51 10.18 7.49 10.05 7.49 9.91C7.49 9.55 7.62 9.23 7.87 8.98L8.62 8.2C8.82 8 8.97 7.81 9.07 7.64C9.15 7.51 9.18 7.4 9.18 7.3C9.18 7.22 9.15 7.1 9.1 6.98C9.03 6.82 8.92 6.64 8.78 6.45L6.46 3.17C6.36 3.03 6.24 2.93 6.09 2.86C5.93 2.79 5.76 2.75 5.59 2.75ZM13.95 15.01L13.79 15.69L14.06 14.99C14.01 14.98 13.97 14.99 13.95 15.01Z"></path>
                      <path d="M18.5 9.75C18.09 9.75 17.75 9.41 17.75 9C17.75 8.64 17.39 7.89 16.79 7.25C16.2 6.62 15.55 6.25 15 6.25C14.59 6.25 14.25 5.91 14.25 5.5C14.25 5.09 14.59 4.75 15 4.75C15.97 4.75 16.99 5.27 17.88 6.22C18.71 7.11 19.25 8.2 19.25 9C19.25 9.41 18.91 9.75 18.5 9.75Z"></path>
                      <path d="M22 9.75C21.59 9.75 21.25 9.41 21.25 9C21.25 5.55 18.45 2.75 15 2.75C14.59 2.75 14.25 2.41 14.25 2C14.25 1.59 14.59 1.25 15 1.25C19.27 1.25 22.75 4.73 22.75 9C22.75 9.41 22.41 9.75 22 9.75Z"></path>
                    </svg>
                  </span>
                  <span class="has-text-weight-bold ">{{ telephone }}</span>
                </a>
                {% if social_media %}
                {% for item in social_media %}
                {% if item.header %}
                <a href="{{ item.url }}" rel="nofollow" target="_blank" class="icon-text {{ item.name }} ml-4">
                  <span class="icon">{{ item.icon|html_entity_decode }}</span>
                </a>
                {% endif %}
                {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% if currency or language or show_theme_toggle %}
        <div class="column is-narrow">
          <div class="is-flex is-align-items-center is-justify-content-flex-end localisation">
            {{ currency }}
            {{ language }}
            {% if show_theme_toggle %}
            <button id="theme-toggle" class="button is-small ml-3">
              <span class="icon">
                <svg class="moon" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.4604 22.7501C12.2904 22.7501 12.1204 22.7501 11.9504 22.7401C6.35044 22.4901 1.67044 17.9801 1.28044 12.4801C0.940437 7.76011 3.67044 3.35011 8.07044 1.50011C9.32044 0.980114 9.98044 1.38011 10.2604 1.67011C10.5404 1.95011 10.9304 2.60011 10.4104 3.79011C9.95044 4.85011 9.72044 5.98011 9.73044 7.14011C9.75044 11.5701 13.4304 15.3301 17.9204 15.5101C18.5704 15.5401 19.2104 15.4901 19.8304 15.3801C21.1504 15.1401 21.7004 15.6701 21.9104 16.0101C22.1204 16.3501 22.3604 17.0801 21.5604 18.1601C19.4404 21.0601 16.0704 22.7501 12.4604 22.7501ZM2.77044 12.3701C3.11044 17.1301 7.17044 21.0301 12.0104 21.2401C15.3004 21.4001 18.4204 19.9001 20.3404 17.2801C20.4904 17.0701 20.5604 16.9201 20.5904 16.8401C20.5004 16.8301 20.3404 16.8201 20.0904 16.8701C19.3604 17.0001 18.6004 17.0501 17.8504 17.0201C12.5704 16.8101 8.25044 12.3801 8.22044 7.16011C8.22044 5.78011 8.49044 4.45011 9.04044 3.20011C9.14044 2.98011 9.16044 2.83011 9.17044 2.75011C9.08044 2.75011 8.92044 2.77011 8.66044 2.88011C4.85044 4.48011 2.49044 8.30011 2.77044 12.3701Z"/>
                </svg>
                <svg class="sun" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 19.25C8 19.25 4.75 16 4.75 12C4.75 8 8 4.75 12 4.75C16 4.75 19.25 8 19.25 12C19.25 16 16 19.25 12 19.25ZM12 6.25C8.83 6.25 6.25 8.83 6.25 12C6.25 15.17 8.83 17.75 12 17.75C15.17 17.75 17.75 15.17 17.75 12C17.75 8.83 15.17 6.25 12 6.25Z"/>
                  <path d="M12 22.96C11.45 22.96 11 22.55 11 22V21.92C11 21.37 11.45 20.92 12 20.92C12.55 20.92 13 21.37 13 21.92C13 22.47 12.55 22.96 12 22.96ZM19.14 20.14C18.88 20.14 18.63 20.04 18.43 19.85L18.3 19.72C17.91 19.33 17.91 18.7 18.3 18.31C18.69 17.92 19.32 17.92 19.71 18.31L19.84 18.44C20.23 18.83 20.23 19.46 19.84 19.85C19.65 20.04 19.4 20.14 19.14 20.14ZM4.86 20.14C4.6 20.14 4.35 20.04 4.15 19.85C3.76 19.46 3.76 18.83 4.15 18.44L4.28 18.31C4.67 17.92 5.3 17.92 5.69 18.31C6.08 18.7 6.08 19.33 5.69 19.72L5.56 19.85C5.37 20.04 5.11 20.14 4.86 20.14ZM22 13H21.92C21.37 13 20.92 12.55 20.92 12C20.92 11.45 21.37 11 21.92 11C22.47 11 22.96 11.45 22.96 12C22.96 12.55 22.55 13 22 13ZM2.08 13H2C1.45 13 1 12.55 1 12C1 11.45 1.45 11 2 11C2.55 11 3.04 11.45 3.04 12C3.04 12.55 2.63 13 2.08 13ZM19.01 5.99C18.75 5.99 18.5 5.89 18.3 5.7C17.91 5.31 17.91 4.68 18.3 4.29L18.43 4.16C18.82 3.77 19.45 3.77 19.84 4.16C20.23 4.55 20.23 5.18 19.84 5.57L19.71 5.7C19.52 5.89 19.27 5.99 19.01 5.99ZM4.99 5.99C4.73 5.99 4.48 5.89 4.28 5.7L4.15 5.56C3.76 5.17 3.76 4.54 4.15 4.15C4.54 3.76 5.17 3.76 5.56 4.15L5.69 4.28C6.08 4.67 6.08 5.3 5.69 5.69C5.5 5.89 5.24 5.99 4.99 5.99ZM12 3.04C11.45 3.04 11 2.63 11 2.08V2C11 1.45 11.45 1 12 1C12.55 1 13 1.45 13 2C13 2.55 12.55 3.04 12 3.04Z"/>
                </svg>
              </span>
            </button>
              <script>
                document.getElementById('theme-toggle').addEventListener('click', function() {
                  
                  const current = document.body.classList.contains('dark') ? 'dark' : 'light';
                  const newOne = current === 'dark' ? 'light' : 'dark';
                  
                  document.body.classList.remove(current);
                  document.body.classList.add(newOne);
                  
                  document.cookie = `theme=${newOne}; path=/; max-age=31536000; SameSite=Lax`;
                });
              </script>
            {% endif %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    {{ search }}    
  </header>
  {{ menu }}
