<section id="menu" class="has-background-white">
  <div class="container">
    <nav class="navbar is-transparent">
      <div class="navbar-menu">
        <div class="navbar-start has-text-weight-bold">
          {% if categories %}
          <div class="navbar-item catalog-trigger">
            <button class="button is-primary is-light pl-5 pr-4 is-flex is-aling-items-center is-fullwidth">
              <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 14 14" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="20" width="20">
                  <path d="M1.6250000000000002 3.6562500000000004c0 -0.9576666666666668 0 -1.4365000000000003 0.2979166666666667 -1.7333333333333336C2.219208333333334 1.6250000000000002 2.698041666666667 1.6250000000000002 3.6562500000000004 1.6250000000000002c0.9576666666666668 0 1.4365000000000003 0 1.7333333333333336 0.2979166666666667 0.2979166666666667 0.2968333333333334 0.2979166666666667 0.7756666666666667 0.2979166666666667 1.7333333333333336 0 0.9576666666666668 0 1.4365000000000003 -0.2979166666666667 1.7333333333333336 -0.2968333333333334 0.2979166666666667 -0.7756666666666667 0.2979166666666667 -1.7333333333333336 0.2979166666666667 -0.9576666666666668 0 -1.4365000000000003 0 -1.7333333333333336 -0.2979166666666667C1.6250000000000002 5.093291666666667 1.6250000000000002 4.614458333333334 1.6250000000000002 3.6562500000000004m0 5.691291666666667c0 -0.9576666666666668 0 -1.4365000000000003 0.2979166666666667 -1.7333333333333336 0.2968333333333334 -0.2979166666666667 0.7756666666666667 -0.2979166666666667 1.7333333333333336 -0.2979166666666667 0.9576666666666668 0 1.4365000000000003 0 1.7333333333333336 0.2979166666666667 0.2979166666666667 0.2968333333333334 0.2979166666666667 0.7756666666666667 0.2979166666666667 1.7333333333333336 0 0.9576666666666668 0 1.4365000000000003 -0.2979166666666667 1.7333333333333336 -0.2968333333333334 0.2979166666666667 -0.7756666666666667 0.2979166666666667 -1.7333333333333336 0.2979166666666667 -0.9576666666666668 0 -1.4365000000000003 0 -1.7333333333333336 -0.2979166666666667C1.6250000000000002 10.784583333333336 1.6250000000000002 10.305750000000002 1.6250000000000002 9.348083333333333M7.312500000000001 3.6562500000000004c0 -0.9576666666666668 0 -1.4365000000000003 0.2979166666666667 -1.7333333333333336 0.2968333333333334 -0.2979166666666667 0.7756666666666667 -0.2979166666666667 1.7333333333333336 -0.2979166666666667 0.9576666666666668 0 1.4365000000000003 0 1.7333333333333336 0.2979166666666667 0.2979166666666667 0.2968333333333334 0.2979166666666667 0.7756666666666667 0.2979166666666667 1.7333333333333336 0 0.9576666666666668 0 1.4365000000000003 -0.2979166666666667 1.7333333333333336 -0.2968333333333334 0.2979166666666667 -0.7756666666666667 0.2979166666666667 -1.7333333333333336 0.2979166666666667 -0.9576666666666668 0 -1.4365000000000003 0 -1.7333333333333336 -0.2979166666666667 -0.2979166666666667 -0.2968333333333334 -0.2979166666666667 -0.7756666666666667 -0.2979166666666667 -1.7333333333333336m0 5.691291666666667c0 -0.9576666666666668 0 -1.4365000000000003 0.2979166666666667 -1.7333333333333336 0.2968333333333334 -0.2979166666666667 0.7756666666666667 -0.2979166666666667 1.7333333333333336 -0.2979166666666667 0.9576666666666668 0 1.4365000000000003 0 1.7333333333333336 0.2979166666666667 0.2979166666666667 0.2968333333333334 0.2979166666666667 0.7756666666666667 0.2979166666666667 1.7333333333333336 0 0.9576666666666668 0 1.4365000000000003 -0.2979166666666667 1.7333333333333336 -0.2968333333333334 0.2979166666666667 -0.7756666666666667 0.2979166666666667 -1.7333333333333336 0.2979166666666667 -0.9576666666666668 0 -1.4365000000000003 0 -1.7333333333333336 -0.2979166666666667 -0.2979166666666667 -0.2968333333333334 -0.2979166666666667 -0.7756666666666667 -0.2979166666666667 -1.7333333333333336" stroke-width="1"></path>
                </svg>
              </span>
              <span class="has-text-weight-bold">{{ text_category }}</span>
            </button>
          </div>
          {% endif %}
          {% if special %}
          <a class="navbar-item" href="{{ special.href }}">
            {{ special.name }}
          </a>
          {% endif %}
          {% if brands %}
          <a class="navbar-item" href="{{ brands.href }}">
            {{ brands.name }}
          </a>
          {% endif %}
          {{ blog }}
          {% if informations %}
          {% for information in informations %}
          <a class="navbar-item" href="{{ information.href }}">
            {{ information.title }}
          </a>
          {% endfor %}
          {% endif %}
          {% if contact %}
          <a class="navbar-item" href="{{ contact.href }}">
            {{ contact.name }}
          </a>
          {% endif %}
        </div>
        <div class="navbar-end">
          <div class="icons-menu is-flex is-align-items-center is-justify-content-flex-end has-background-white">
            <span class="mobile-menu-trigger is-hidden-desktop has-text-primary">
              <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="24" width="24">
                  <path d="M2.8125 4.0625h9.375M2.8125 7.5h9.375m-9.375 3.4375h9.375" stroke-width="1"></path>
                </svg>
              </span>
            </span>
            <span class="search-trigger has-text-primary is-clickable">
              <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"  height="24" width="24">
                  <path d="m10.558125 10.575000000000001 1.925 1.925m-0.555625 -5.261875c0 2.6168750000000003 -2.114375 4.738125 -4.721875 4.738125 -2.6081250000000002 0 -4.7225 -2.12125 -4.7225 -4.7375C2.483125 4.6206249999999995 4.5975 2.5 7.205 2.5c2.6081250000000002 0 4.7225 2.12125 4.7225 4.738125" stroke-width="1"></path>
                </svg>
              </span>
            </span>
            <a rel="nofollow" href="{{ compare }}" class="compare has-text-primary">
              <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="24" width="24">
                  <path d="M9.375 5.893125V3.125a1.25 1.25 0 0 0 -1.25 -1.25h-1.25a1.25 1.25 0 0 0 -1.25 1.25v5.17875m3.75 -2.410625V13.125m0 -7.231875h2.5a1.25 1.25 0 0 1 1.25 1.25V11.875a1.25 1.25 0 0 1 -1.25 1.25h-2.5m0 0H5.625m0 0v-4.82125M5.625 13.125H3.125a1.25 1.25 0 0 1 -1.25 -1.25v-2.32125a1.25 1.25 0 0 1 1.25 -1.25h2.5" stroke-width="1"></path>
                </svg>
              </span>
              <span class="has-background-danger has-text-white badge">{{ compare_badge_products }}</span>
            </a>
            <a rel="nofollow" class="wishlist has-text-primary" href="{{ wishlist }}">
              <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="24" width="24">
                  <path d="M4.84375 2.1875C3.2043749999999998 2.1875 1.875 3.5999999999999996 1.875 5.341875 1.875 8.828125 7.5 12.8125 7.5 12.8125s5.625 -3.984375 5.625 -7.470625C13.125 3.1837500000000003 11.795625000000001 2.1875 10.15625 2.1875c-1.1625 0 -2.16875 0.71 -2.65625 1.74375 -0.48750000000000004 -1.03375 -1.4937500000000001 -1.74375 -2.65625 -1.74375" stroke-width="1"></path>
                </svg>
              </span>
              <span class="has-background-danger has-text-white badge">{{ wishlist_badge_products }}</span>
            </a>
            {% if logged %}
            <a rel="nofollow" class="account has-text-primary" href="{{ account }}">
              <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="24" width="24">
                  <path d="M5.9375 5.6875a1.5625 1.5625 0 1 0 3.125 0 1.5625 1.5625 0 1 0 -3.125 0" stroke-width="1"></path>
                  <path d="M1.875 7.5a5.625 5.625 0 1 0 11.25 0 5.625 5.625 0 1 0 -11.25 0" stroke-width="1"></path>
                  <path d="M10.625 12c-0.198125 -3.8668750000000003 -6.051875 -3.8668750000000003 -6.25 0" stroke-width="1"></path>
                </svg>
              </span>
              <span class="has-background-success logged"></span>
            </a>
            {% else %}
            <span class="account login-trigger has-text-primary is-clickable">
              <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="24" width="24">
                  <path d="M5.9375 5.6875a1.5625 1.5625 0 1 0 3.125 0 1.5625 1.5625 0 1 0 -3.125 0" stroke-width="1"></path>
                  <path d="M1.875 7.5a5.625 5.625 0 1 0 11.25 0 5.625 5.625 0 1 0 -11.25 0" stroke-width="1"></path>
                  <path d="M10.625 12c-0.198125 -3.8668750000000003 -6.051875 -3.8668750000000003 -6.25 0" stroke-width="1"></path>
                </svg>
              </span>
              <span class="has-background-danger not-logged"></span>
            </span>
            {% endif %}            
            <a href="{{ cart }}" class="cart-icon has-text-primary">
              <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="24" width="24">
                  <path d="M10.3125 13.125a0.9375 0.9375 0 1 0 0 -1.875 0.9375 0.9375 0 0 0 0 1.875m-5 0a0.9375 0.9375 0 1 0 0 -1.875 0.9375 0.9375 0 0 0 0 1.875M2.31875 3.375h9.508750000000001c0.86125 0 1.4831250000000002 0.79375 1.2468750000000002 1.5925l-1.03375 3.5C11.881250000000001 9.004999999999999 11.3725 9.375 10.79375 9.375H5.07c-0.579375 0 -1.08875 -0.370625 -1.2475 -0.9075zm0 0L1.875 1.875" stroke-width="1"></path>
                </svg>
              </span>
              <span class="has-background-danger has-text-white badge">{{ cart_badge_products }}</span>
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
  {% if categories %}
  <div class="modal is-justify-content-flex-start" id="catalog-modal">
    <div class="modal-background"></div>
    <div class="modal-content box p-3 mt-3">
      <nav id="catalog">
        <div class="is-flex is-justify-content-space-between is-align-items-center px-3 mb-3">
          <div class="is-size-3 has-text-weight-bold">
            {{ text_category }}
          </div>
          <button class="delete is-large is-dark" aria-label="close"></button>
        </div>
        <div class="columns is-mobile is-multiline">
          {% for category in categories %}
          {% if category.children %}
          <div class="column is-3-fullhd is-3-widescreen is-4-desktop is-6-tablet is-12-mobile">
            <div class="menu">                       
              <ul class="menu-list">
                <li>
                  <a class="has-text-weight-bold is-size-5 has-text-primary" href="{{ category.href }}">
                    {% if category.image %}
                    <span class="is-block mb-3">
                      <img src="{{ category.image}}" alt="{{ category.name }}">
                    </span>
                    {% endif %}     
                    <span>{{ category.name }}</span>                    
                  </a>
                </li>
                <li>
                  <ul class="menu-list">
                    {% for child in category.children %}
                    <li>
                      <a class="is-block" href="{{ child.href }}">{{ child.name }}</a>
                    </li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          {% else %}
          <div class="column is-3-desktop is-12-mobile">
            <div class="menu">
              <ul class="menu-list">
                <li><a class="has-text-weight-bold has-text-primary is-size-5" href="{{ category.href }}">{{ category.name }}</a></li>
              </ul>
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </nav>
    </div>    
  </div>
  {% endif %}

  <script>
  {% if categories %}
    $('body').on('click', '.catalog-trigger, #catalog-modal .delete, #catalog-modal .modal-background', function (e) {

      if ($(e.currentTarget).hasClass('modal-background') || $(e.currentTarget).hasClass('delete')) {
        $('#catalog-modal').addClass('is-animated');

        $('#catalog-modal .modal-background').one('animationend', function () {
          $('#catalog-modal').removeClass('is-animated is-active');
          history.replaceState(null, null, window.location.pathname + window.location.search);
        });
      } else {
        $('#catalog-modal').addClass('is-active');
        history.pushState(null, null, window.location.pathname + '#catalog-modal');
      }
    });
  {% endif %}

  $('body').on('click', '.mobile-menu-trigger', function (e) {
    e.stopPropagation();
    $('#menu').toggleClass('shown');
    $('.mobile-menu-trigger').toggleClass('shown');
  });

  $('body').on('click', '#menu.shown', function (e) {
      $('#menu').removeClass('shown');
      $('.mobile-menu-trigger').removeClass('shown');
  });

  $('body').on('click', '#menu .navbar-link', function (e) {
    if($(this).parents('.has-dropdown').length) {      
      e.stopPropagation();
      e.preventDefault();
      $(this).parent().find('.navbar-dropdown').slideToggle(256);
    }    
  });
  </script>
</section>
