{% if categories %}
<div class="navbar-item has-dropdown is-hoverable">
	<a class="navbar-link" href="{{ blog }}">
		{{ text_blog }}
	</a>
	<div class="navbar-dropdown is-boxed">
		{% for category in categories %}
		<a class="navbar-item" href="{{ category.href }}">
			{{ category.name }}
		</a>
		{% endfor %}
	</div>
</div>
{% else %}
<a class="navbar-item" href="{{ blog }}">
	{{ text_blog }}
</a>
{% endif %}
