<nav class="panel mb-5 is-clipped">
  {% if not logged %}
  <a href="{{ login }}" class="panel-block">
    <span class="panel-icon has-text-primary">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="24" width="24">
      <path d="M8.435 13.125H4.0625c-0.690625 0 -1.25 -0.719375 -1.25 -1.606875V3.48125c0 -0.8868750000000001 0.559375 -1.60625 1.25 -1.60625h4.375" stroke-width="1"></path>
      <path d="M8.125 9.6875 5.9375 7.5 8.125 5.3125m4.0625 2.185h-6.25" stroke-width="1"></path>
    </svg>
    </span>
    {{ text_login }}
  </a>
  <a href="{{ register }}" class="panel-block">
    <span class="panel-icon has-text-primary">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="24" width="24">
        <path d="M5.625 4.6875a1.875 1.875 0 1 0 3.75 0 1.875 1.875 0 1 0 -3.75 0" stroke-width="1"></path>
        <path d="M12.1875 12.8125c-0.296875 -5.833125 -9.078125 -5.833125 -9.375 0m3.4375 -1.25h2.5m-1.25 -1.25v2.5" stroke-width="1"></path>
      </svg>
    </span>
    {{ text_register }}
  </a>
  <a href="{{ forgotten }}" class="panel-block">
    <span class="panel-icon has-text-primary">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="24" width="24">
        <path d="M5 6.25V5c0 -1.725625 0.774375 -3.125 2.5 -3.125s2.5 1.399375 2.5 3.125v1.25M2.1875 11.125v-2.875c0 -0.7000000000000001 0 -1.05 0.13625 -1.316875a1.25 1.25 0 0 1 0.54625 -0.546875c0.2675 -0.135625 0.6174999999999999 -0.135625 1.3175000000000001 -0.135625h6.625c0.7000000000000001 0 1.05 0 1.3175000000000001 0.135625a1.25 1.25 0 0 1 0.54625 0.54625c0.13625 0.2675 0.13625 0.6174999999999999 0.13625 1.3175000000000001v2.875c0 0.7000000000000001 0 1.05 -0.13625 1.3175000000000001a1.25 1.25 0 0 1 -0.54625 0.54625C11.8625 13.125 11.512500000000001 13.125 10.8125 13.125H4.1875c-0.7000000000000001 0 -1.05 0 -1.3175000000000001 -0.13625a1.25 1.25 0 0 1 -0.54625 -0.54625C2.1875 12.175625 2.1875 11.825624999999999 2.1875 11.125m5.3125 -1.28125v-0.3125m2.5 0.3125v-0.3125m-5 0.3125v-0.3125" stroke-width="1"></path>
      </svg>
    </span>
    {{ text_forgotten }}
  </a>
  {% else %}
  <a href="{{ account }}" class="panel-block">
    <span class="panel-icon has-text-primary">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="24" width="24">
        <path d="M5.9375 5.6875a1.5625 1.5625 0 1 0 3.125 0 1.5625 1.5625 0 1 0 -3.125 0" stroke-width="1"></path>
        <path d="M4.375 12.8125v-0.8125c0.198125 -3.8668750000000003 6.051875 -3.8668750000000003 6.25 0v0.8125" stroke-width="1"></path>
        <path d="M1.875 5.875c0 -1.4000000000000001 0 -2.1 0.2725 -2.6350000000000002a2.5 2.5 0 0 1 1.0925 -1.0925C3.775 1.875 4.475 1.875 5.875 1.875h3.25c1.4000000000000001 0 2.1 0 2.6350000000000002 0.2725a2.5 2.5 0 0 1 1.0925 1.0925C13.125 3.775 13.125 4.475 13.125 5.875v3.25c0 1.4000000000000001 0 2.1 -0.2725 2.6350000000000002a2.5 2.5 0 0 1 -1.0925 1.0925C11.225000000000001 13.125 10.525 13.125 9.125 13.125H5.875c-1.4000000000000001 0 -2.1 0 -2.6350000000000002 -0.2725a2.5 2.5 0 0 1 -1.0925 -1.0925C1.875 11.225000000000001 1.875 10.525 1.875 9.125z" stroke-width="1"></path>
      </svg>
    </span>
    {{ text_account }}
  </a>
  <a href="{{ order }}" class="panel-block">
    <span class="panel-icon has-text-primary">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor"  height="24" width="24">
        <path d="m6.875 6.401250000000001 0.64625 0.738125c0.059375 0.068125 0.16625 0.0625 0.21875 -0.01l1.3125 -1.816875M10.3125 13.125a0.9375 0.9375 0 1 0 0 -1.875 0.9375 0.9375 0 0 0 0 1.875m-5 0a0.9375 0.9375 0 1 0 0 -1.875 0.9375 0.9375 0 0 0 0 1.875" stroke-width="1"></path>
        <path d="M2.31875 3.375h9.508750000000001c0.86125 0 1.4831250000000002 0.79375 1.2468750000000002 1.5925l-1.03375 3.5C11.881250000000001 9.004999999999999 11.3725 9.375 10.79375 9.375H5.07c-0.579375 0 -1.08875 -0.370625 -1.2475 -0.9075zm0 0L1.875 1.875" stroke-width="1"></path>
      </svg>
    </span>
    {{ text_order }}
  </a>
  <a href="{{ download }}" class="panel-block">
    <span class="panel-icon has-text-primary">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="24" width="24">
        <path d="M2.03125 8.125h2.3000000000000003a1.25 1.25 0 0 1 1.04 0.55625l0.5075000000000001 0.7625a1.25 1.25 0 0 0 1.04 0.55625h1.1625a1.25 1.25 0 0 0 1.04 -0.55625l0.5075000000000001 -0.7625A1.25 1.25 0 0 1 10.66875 8.125h2.3000000000000003" stroke-width="1"></path>
        <path d="m3.40625 2.56875 -1.3512499999999998 4.904375A5 5 0 0 0 1.875 8.80125V11.875a1.25 1.25 0 0 0 1.25 1.25h8.75a1.25 1.25 0 0 0 1.25 -1.25v-3.07375a5 5 0 0 0 -0.18 -1.328125L11.59375 2.56875A1.25 1.25 0 0 0 10.475000000000001 1.875H4.525a1.25 1.25 0 0 0 -1.11875 0.6937500000000001M7.501875 3.75 7.5 7.05" stroke-width="1"></path>
        <path d="M9.0625 5.841875 7.5 7.5 5.9375 5.841875" stroke-width="1"></path>
      </svg>
    </span>
    {{ text_download }}
  </a>
  <a href="{{ recurring }}" class="panel-block">
    <span class="panel-icon has-text-primary">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="24" width="24">
        <path d="M1.875 5.625v-0.5c0 -0.7000000000000001 0 -1.05 0.13625 -1.3175000000000001 0.12 -0.235625 0.310625 -0.42625 0.54625 -0.54625C2.8249999999999997 3.125 3.175 3.125 3.875 3.125h3.9375M1.875 5.625h5.9375M1.875 5.625v4.25c0 0.7000000000000001 0 1.05 0.13625 1.3175000000000001a1.25 1.25 0 0 0 0.54625 0.54625c0.266875 0.13625 0.616875 0.13625 1.315625 0.13625h7.25375c0.6987500000000001 0 1.048125 0 1.315 -0.13625 0.235625 -0.12 0.426875 -0.31125 0.546875 -0.54625 0.13625 -0.2675 0.13625 -0.61625 0.13625 -1.315V6.875m-3.125 -2.29875 0.9275 0.9850000000000001a0.210625 0.210625 0 0 0 0.31375 -0.013749999999999998L13.125 3.125M3.75 9.375h2.5" stroke-width="1"></path>
      </svg>
    </span>
    {{ text_recurring }}
  </a>
  <a href="{{ wishlist }}" class="panel-block">
    <span class="panel-icon has-text-primary">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="24" width="24">
        <path d="M4.84375 2.1875C3.2043749999999998 2.1875 1.875 3.5999999999999996 1.875 5.341875 1.875 8.828125 7.5 12.8125 7.5 12.8125s5.625 -3.984375 5.625 -7.470625C13.125 3.1837500000000003 11.795625000000001 2.1875 10.15625 2.1875c-1.1625 0 -2.16875 0.71 -2.65625 1.74375 -0.48750000000000004 -1.03375 -1.4937500000000001 -1.74375 -2.65625 -1.74375" stroke-width="1"></path>
      </svg>
    </span>
    {{ text_wishlist }}
  </a>
  <a href="{{ edit }}" class="panel-block">
    <span class="panel-icon has-text-primary">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="24" width="24">
        <path d="M7.5 10v-3.125h-0.3125m0 3.125h0.625M7.5 5.3125V5" stroke-width="1"></path>
        <path d="M1.875 7.5a5.625 5.625 0 1 0 11.25 0 5.625 5.625 0 1 0 -11.25 0" stroke-width="1"></path>
      </svg>
    </span>
    {{ text_edit }}
  </a>
  <a href="{{ password }}" class="panel-block">
    <span class="panel-icon has-text-primary">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="24" width="24">
        <path d="M5 6.25V5c0 -1.725625 0.774375 -3.125 2.5 -3.125s2.5 1.399375 2.5 3.125v1.25M2.1875 11.125v-2.875c0 -0.7000000000000001 0 -1.05 0.13625 -1.316875a1.25 1.25 0 0 1 0.54625 -0.546875c0.2675 -0.135625 0.6174999999999999 -0.135625 1.3175000000000001 -0.135625h6.625c0.7000000000000001 0 1.05 0 1.3175000000000001 0.135625a1.25 1.25 0 0 1 0.54625 0.54625c0.13625 0.2675 0.13625 0.6174999999999999 0.13625 1.3175000000000001v2.875c0 0.7000000000000001 0 1.05 -0.13625 1.3175000000000001a1.25 1.25 0 0 1 -0.54625 0.54625C11.8625 13.125 11.512500000000001 13.125 10.8125 13.125H4.1875c-0.7000000000000001 0 -1.05 0 -1.3175000000000001 -0.13625a1.25 1.25 0 0 1 -0.54625 -0.54625C2.1875 12.175625 2.1875 11.825624999999999 2.1875 11.125m5.3125 -1.28125v-0.3125m2.5 0.3125v-0.3125m-5 0.3125v-0.3125" stroke-width="1"></path>
      </svg>
    </span>
    {{ text_password }}
  </a>
  <a href="{{ address }}" class="panel-block">
    <span class="panel-icon has-text-primary">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="24" width="24">
        <path d="M7.8500000000000005 13.0125a0.6025 0.6025 0 0 1 -0.7000000000000001 0C4.131875 10.86125 0.92875 6.43625 4.166875 3.2387500000000005A4.745 4.745 0 0 1 7.5 1.875c1.25 0 2.449375 0.49062500000000003 3.333125 1.3631250000000001 3.238125 3.1975 0.035 7.6225 -2.983125 9.775" stroke-width="1"></path>
        <path d="M7.5 7.5a1.25 1.25 0 1 0 0 -2.5 1.25 1.25 0 0 0 0 2.5" stroke-width="1"></path>
      </svg>
    </span>
    {{ text_address }}
  </a>
  <a href="{{ return }}" class="panel-block">
    <span class="panel-icon has-text-primary">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="24" width="24">
        <path d="M3.5225 11.477500000000001A5.625 5.625 0 1 0 7.5 1.875C4.96375 1.875 3.42625 3.565625 1.875 5.3125" stroke-width="1"></path>
        <path d="M1.875 2.8125v2.5h2.5" stroke-width="1"></path>
      </svg>
    </span>
    {{ text_return }}
  </a>  
  <a href="{{ reward }}" class="panel-block">
    <span class="panel-icon has-text-primary">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="24" width="24">
        <path d="M11.25 5.625A3.75 3.75 0 1 1 3.75 5.625a3.75 3.75 0 0 1 7.5 0" stroke-width="1"></path>
        <path d="m5 8.42 -0.625 4.025c0 0.5062500000000001 1.11375 0.8350000000000001 1.529375 0.60875l1.31625 -0.716875a0.579375 0.579375 0 0 1 0.55875 0l1.31625 0.716875c0.415625 0.22625 1.529375 -0.10312500000000001 1.529375 -0.609375l-0.625 -4.024375" stroke-width="1"></path>
      </svg>
    </span>
    {{ text_reward }}
  </a>
  <a href="{{ transaction }}" class="panel-block">
    <span class="panel-icon has-text-primary">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="24" width="24">
        <path d="M1.875 5.625v-0.5c0 -0.7000000000000001 0 -1.05 0.13625 -1.3175000000000001 0.12 -0.235625 0.310625 -0.42625 0.54625 -0.54625C2.8249999999999997 3.125 3.175 3.125 3.875 3.125h7.25c0.7000000000000001 0 1.05 0 1.316875 0.13625 0.235625 0.12 0.426875 0.310625 0.546875 0.54625 0.13625 0.266875 0.13625 0.616875 0.13625 1.315625V5.625M1.875 5.625h11.25M1.875 5.625v4.25c0 0.7000000000000001 0 1.05 0.13625 1.3175000000000001a1.25 1.25 0 0 0 0.54625 0.54625c0.266875 0.13625 0.616875 0.13625 1.315625 0.13625h7.25375c0.6987500000000001 0 1.048125 0 1.315 -0.13625 0.235625 -0.12 0.426875 -0.31125 0.546875 -0.54625 0.13625 -0.2675 0.13625 -0.61625 0.13625 -1.315V5.625M3.75 9.375h2.5" stroke-width="1"></path>
      </svg>
    </span>
    {{ text_transaction }}
  </a>
  <a href="{{ newsletter }}" class="panel-block">
    <span class="panel-icon has-text-primary">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="24" width="24">
        <path d="m8.75 6.25 -1.875 1.875m5.805 -6.230625a0.33437500000000003 0.33437500000000003 0 0 1 0.42500000000000004 0.42562500000000003l-3.7025 10.58125a0.33437500000000003 0.33437500000000003 0 0 1 -0.62125 0.025l-2.011875 -4.52625a0.33375 0.33375 0 0 0 -0.169375 -0.169375l-4.52625 -2.0125a0.33437500000000003 0.33437500000000003 0 0 1 0.025 -0.620625z" stroke-width="1"></path>
      </svg>
    </span>
    {{ text_newsletter }}
  </a>
  <a href="{{ logout }}" class="panel-block">
    <span class="panel-icon has-text-primary">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="24" width="24">
        <path d="M8.435 13.125H4.0625c-0.690625 0 -1.25 -0.719375 -1.25 -1.606875V3.48125c0 -0.8868750000000001 0.559375 -1.60625 1.25 -1.60625h4.375M10 9.6875l2.1875 -2.1875L10 5.3125m-4.0625 2.185h6.25" stroke-width="1"></path>
      </svg>
    </span>
    {{ text_logout }}
  </a>
  {% endif %}
</nav>
