<div class="py-6 carousel carousel{{ module }}">
  <div class="container">
    <div id="carousel{{ module }}" class="slider-hidden">
      {% for banner in banners %}
      <div class="carousel-item">
        {% if banner.link %}
        <a href="{{ banner.link }}" class="image">
          <img class="mx-auto" src="{{ banner.image }}" alt="{{ banner.title }}" width="{{ width }}px" height="{{ height }}px"/>
        </a>
        {% else %}
        <span class="image">
          <img class="mx-auto" src="{{ banner.image }}" alt="{{ banner.title }}" width="{{ width }}px" height="{{ height }}px"/>
        </span>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
$(document).ready(function(){

  $('#carousel{{ module }}').lightSlider({
    item: {{ desktop_items }},
    loop:true,
    slideMove:1,
    easing: 'cubic-bezier(0.25, 0, 0.25, 1)',
    speed: 200,
    pause: 3000,
    slideMargin: 0,
    auto: true,
    controls: false,
    onSliderLoad: function() {
      $('#carousel{{ module }}').removeClass('slider-hidden');
    },
    responsive : [
      {
        breakpoint:1024,
        settings: {
          item:{{ tablet_items }},
          slideMove:1,
          slideMargin:0,
        }
      },
      {
        breakpoint:640,
        settings: {
          item:{{ mobile_items }},
          slideMove:1
        }
      }
    ]
  });
});
</script>
