<div class="carousel py-6">
  <div class="container">
    <div id="carousel{{ module }}" class="swiper">
      <div class="swiper-wrapper">
        {% for banner in banners %}
          <div class="swiper-slide">
            {% if banner.link %}
            <a href="{{ banner.link }}" class="image">
              <img class="mx-auto" src="{{ banner.image }}" alt="{{ banner.title }}" width="{{ width }}" height="{{ height }}"/>
            </a>
            {% else %}
            <span class="image">
              <img class="mx-auto" src="{{ banner.image }}" alt="{{ banner.title }}" width="{{ width }}" height="{{ height }}"/>
            </span>
            {% endif %}
          </div>
          {% endfor %}
      </div>   
    </div>
  </div>
</div>

<script>
$(document).ready(function(){

const swiper = new Swiper('#carousel{{ module }}', {
    slidesPerView: 2,
    loop: true,
    autoplay: {
      delay: 5000,
    },
    speed: 750,
    breakpoints: {
      480: {
        slidesPerView: {{ mobile_items }},
        spaceBetween: 30
      },
      768: {
        slidesPerView: {{ tablet_items }},
        spaceBetween: 40
      },
      960: {
        slidesPerView: {{ desktop_items }},
        spaceBetween: 40
      }
    }
  }); 
});
</script>
