<nav class="panel is-shadowless mb-5 category-menu">
  {% for category in categories %}
  {% if category.category_id == category_id %}
  <a href="{{ category.href }}" class="panel-block is-active">{{ category.name }}</a>
  {% if category.children %}
  {% for child in category.children %}
  {% if child.category_id == child_id %}
  <a href="{{ child.href }}" class="panel-block is-active">&nbsp;&nbsp;&nbsp;- {{ child.name }}</a>
  {% else %}
  <a href="{{ child.href }}" class="panel-block">&nbsp;&nbsp;&nbsp;- {{ child.name }}</a>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% else %} <a href="{{ category.href }}" class="panel-block">{{ category.name }}</a>
  {% endif %}
  {% endfor %}
</nav>
