<div class="slideshow slideshow{{ module }} px-5">
  <div class="container">
    <div id="slideshow{{ module }}" class="swiper">
      <div class="swiper-wrapper">
        {% for banner in banners %}
          <div class="swiper-slide">
            {% if banner.link %}
            <a href="{{ banner.link }}">
              <img src="{{ banner.image }}" alt="{{ banner.title }}" loading="lazy" width="{{ width }}" height="{{ height }}" class="image" />
            </a>
            {% else %}
            <img src="{{ banner.image }}" alt="{{ banner.title }}" loading="lazy" width="{{ width }}" height="{{ height }}" class="image" />
            {% endif %}
          </div>
          {% endfor %}
      </div>
      <div class="swiper-pagination"></div>    
    </div>    
  </div>
</div>

<script>

$(document).ready(function(){
  const swiper = new Swiper('#slideshow{{ module }}', {
    loop: true,
    pagination: {
      el: '#slideshow{{ module }} .swiper-pagination',
      clickable: true,
    },
    autoplay: {
      delay: 5000,
    },
    speed: 750
  }); 
});
</script>
