{{ header }}
<main id="account-edit">
  {{ content_top }}
  <div class="container">
    <nav class="breadcrumb py-4" aria-label="breadcrumbs">
      <ul>
        {% for key, breadcrumb in breadcrumbs %}
        {% if key < (breadcrumbs|length - 1) %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% else %}
        <li><span>{{ breadcrumb.text }}</span></li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
    {% if error_warning %}
    <div class="notification is-danger">{{ error_warning }}</div>
    {% endif %}
    {% if success %}
    <div class="notification is-success">{{ success }}</div>
    {% endif %}
    <div class="columns">
      {{ column_left }}
      {% if column_left and column_right %}
      {% set class = 'column is-6-fullhd is-6-widescreen is-6-desktop is-12-tablet is-12-mobile' %}
      {% elseif column_left or column_right %}
      {% set class = 'column is-9-fullhd is-9-widescreen is-9-desktop is-12-tablet is-12-mobile' %}
      {% else %}
      {% set class = 'column is-12' %}
      {% endif %}
      <div id="content" class="{{ class }}">
        <h1 class="title is-3">{{ heading_title }}</h1>
        <form action="{{ action }}" method="post" enctype="multipart/form-data">
          <fieldset class="columns is-multiline">
            <div class="column is-6-fullhd is-6-widescreen is-6-desktop is-6-tablet is-12-mobile field-wrapper">
              <div class="field required">
                <label class="label">{{ entry_firstname }}</label>
                <div class="control">
                  <input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" class="input">
                </div>
                {% if error_firstname %}
                <p class="help is-danger">{{ error_firstname }}</p>
                {% endif %}
              </div>
            </div>
            <div class="column is-6-fullhd is-6-widescreen is-6-desktop is-6-tablet is-12-mobile field-wrapper">
              <div class="field required">
                <label class="label">{{ entry_lastname }}</label>
                <div class="control">
                  <input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" class="input">
                </div>
                {% if error_lastname %}
                <p class="help is-danger">{{ error_lastname }}</p>
                {% endif %}
              </div>
            </div>
            <div class="column is-6-fullhd is-6-widescreen is-6-desktop is-6-tablet is-12-mobile field-wrapper">
              <div class="field required">
                <label class="label">{{ entry_telephone }}</label>
                <div class="control">
                  <input type="text" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}" class="input">
                </div>
                {% if error_telephone %}
                <p class="help is-danger">{{ error_telephone }}</p>
                {% endif %}
              </div>
            </div>
            <div class="column is-6-fullhd is-6-widescreen is-6-desktop is-6-tablet is-12-mobile field-wrapper">
              <div class="field required">
                <label class="label">{{ entry_email }}</label>
                <div class="control">
                  <input type="email" name="email" value="{{ email }}" placeholder="{{ entry_email }}" class="input">
                </div>
                {% if error_email %}
                <p class="help is-danger">{{ error_email }}</p>
                {% endif %}
              </div>
            </div>
            {% for custom_field in custom_fields %}
            {% if custom_field.type == 'select' %}
            <div class="column is-6-fullhd is-6-widescreen is-6-desktop is-6-tablet is-12-mobile {% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
              <div class="field">
                <label class="label" for="custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                <div class="control">
                  <select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="custom-field{{ custom_field.custom_field_id }}" id="custom-field{{ custom_field.custom_field_id }}" class="input">
                    <option value="">{{ text_select }}</option>
                    {% for custom_field_value in custom_field.custom_field_value %}
                    {% if account_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == account_custom_field[custom_field.custom_field_id] %}
                    <option value="{{ custom_field_value.custom_field_value_id }}" selected="selected">{{ custom_field_value.name }}</option>
                    {% else %}
                    <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                  {% if error_custom_field[custom_field.custom_field_id] %}
                  <div class="help is-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endif %}
            {% if custom_field.type == 'radio' %}
            <div class="column is-6-fullhd is-6-widescreen is-6-desktop is-6-tablet is-12-mobile {% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
              <div class="field">
                <label class="label">{{ custom_field.name }}</label>
                <div class="control">
                    {% for custom_field_value in custom_field.custom_field_value %}
                      {% if account_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id == account_custom_field[custom_field.custom_field_id] %}
                      <label class="radio">
                        <input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="custom-field{{ custom_field.custom_field_id }}" value="{{ custom_field_value.custom_field_value_id }}" checked="checked" />
                        {{ custom_field_value.name }}
                      </label>
                      {% else %}
                      <label class="radio">
                        <input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="custom-field{{ custom_field.custom_field_id }}" value="{{ custom_field_value.custom_field_value_id }}" />
                        {{ custom_field_value.name }}
                      </label>
                      {% endif %}
                    {% endfor %}
                  {% if error_custom_field[custom_field.custom_field_id] %}
                  <div class="help is-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endif %}
            {% if custom_field.type == 'checkbox' %}
            <div class="column is-6-fullhd is-6-widescreen is-6-desktop is-6-tablet is-12-mobile {% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
              <div class="field">
                <label class="label">{{ custom_field.name }}</label>
                <div class="control">
                    {% for custom_field_value in custom_field.custom_field_value %}
                      {% if account_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id in account_custom_field[custom_field.custom_field_id] %}
                      <label class="checkbox">
                        <input id="custom-field{{ custom_field.custom_field_id }}" type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" checked="checked" />
                        {{ custom_field_value.name }}
                      </label>
                      {% else %}
                      <label class="checkbox">
                        <input id="custom-field{{ custom_field.custom_field_id }}" type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" />
                        {{ custom_field_value.name }}
                      </label>
                      {% endif %}
                    {% endfor %}
                  {% if error_custom_field[custom_field.custom_field_id] %}
                  <div class="help is-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endif %}
            {% if custom_field.type == 'text' %}
            {{ custom_field.required }}
            <div class="column is-6-fullhd is-6-widescreen is-6-desktop is-6-tablet is-12-mobile {% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
              <div class="field">
                <label class="label" for="custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                <div class="control">
                  <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="custom-field{{ custom_field.custom_field_id }}" id="custom-field{{ custom_field.custom_field_id }}" class="input" />
                  {% if error_custom_field[custom_field.custom_field_id] %}
                  <div class="help is-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endif %}
            {% if custom_field.type == 'textarea' %}
            <div class="column is-6-fullhd is-6-widescreen is-6-desktop is-6-tablet is-12-mobile {% if custom_field.required %} required {% endif %}custom-field" data-sort="{{ custom_field.sort_order }}">
              <div class="field">
                <label class="label" for="custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                <div class="control">
                  <textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}"  id="custom-field{{ custom_field.custom_field_id }}" id="custom-field{{ custom_field.custom_field_id }}" class="input">{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}</textarea>
                  {% if error_custom_field[custom_field.custom_field_id] %}
                  <div class="help is-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endif %}
            {% if custom_field.type == 'file' %}
            <div class="column is-6-fullhd is-6-widescreen is-6-desktop is-6-tablet is-12-mobile {% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
              <div class="field">
                <label class="label">{{ custom_field.name }}</label>
                <div class="control">
                  <button type="button" id="button-custom-field {{ custom_field.custom_field_id }}" id="custom-field{{ custom_field.custom_field_id }}" class="btn btn-default"><i class="fa fa-upload"></i> {{ button_upload }}</button>
                  <input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }} {% endif %}" />
                  {% if error_custom_field[custom_field.custom_field_id] %}
                  <div class="help is-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endif %}
            {% if custom_field.type == 'date' %}
            <div class="column is-6-fullhd is-6-widescreen is-6-desktop is-6-tablet is-12-mobile {% if custom_field.required %} required {% endif %}custom-field" data-sort="{{ custom_field.sort_order }}">
              <div class="field">
                <label class="label" for="custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                <div class="control">
                  <input id="custom-field{{ custom_field.custom_field_id }}" class="input" type="date" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" id="custom-field{{ custom_field.custom_field_id }}"/>
                </div>
                {% if error_custom_field[custom_field.custom_field_id] %}
                <p class="help is-danger">{{ error_custom_field[custom_field.custom_field_id] }}</p>
                {% endif %}
              </div>
            </div>
            {% endif %}
            {% if custom_field.type == 'time' %}
            <div class="column is-6-fullhd is-6-widescreen is-6-desktop is-6-tablet is-12-mobile {% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
              <div class="field">
                <label class="label" for="custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                <div class="control">
                  <div class="input-group time">
                    <input id="custom-field{{ custom_field.custom_field_id }}" type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" data-date-format="HH:mm" id="custom-field{{ custom_field.custom_field_id }}" class="input" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                    </span>
                  </div>
                  {% if error_custom_field[custom_field.custom_field_id] %}
                  <div class="help is-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endif %}
            {% if custom_field.type == 'time' %}
            <div class="column is-6-fullhd is-6-widescreen is-6-desktop is-6-tablet is-12-mobile {% if custom_field.required %} required {% endif %} custom-field" data-sort="{{ custom_field.sort_order }}">
              <div class="field">
                <label class="label" for="custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
                <div class="control">
                  <div class="input-group datetime">
                    <input id="custom-field{{ custom_field.custom_field_id }}" type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}" placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD HH:mm" id="custom-field{{ custom_field.custom_field_id }}" class="input" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                    </span>
                  </div>
                  {% if error_custom_field[custom_field.custom_field_id] %}
                  <div class="help is-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </fieldset>
          <div class="block my-4">
            <a href="{{ back }}" class="button">{{ button_back }}</a>
            <button type="submit" class="button is-primary">{{ button_save }}</button>
          </div>
        </form>
      </div>
      {{ column_right }}
    </div>
  </div>
  {{ content_bottom }}
</main>

<script>
// Sort the custom fields
$('.custom-field[data-sort]').detach().each(function() {
  if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('.field-wrapper').length) {
    $('.field-wrapper').eq($(this).attr('data-sort')).before(this);
  }

  if ($(this).attr('data-sort') > $('.field-wrapper').length) {
    $('.field-wrapper:last').after(this);
  }

  if ($(this).attr('data-sort') == $('.field-wrapper').length) {
    $('.field-wrapper:last').after(this);
  }

  if ($(this).attr('data-sort') < -$('.field-wrapper').length) {
    $('.field-wrapper:first').before(this);
  }
});

$('button[id^="button-custom-field"]').on('click', function() {
  var element = this;

  $('#form-upload').remove();

  $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

  $('#form-upload input[name="file"]').trigger('click');

  if (typeof timer != 'undefined') {
    clearInterval(timer);
  }

  timer = setInterval(function() {
    if ($('#form-upload input[name="file"]').val() != '') {
      clearInterval(timer);

      $.ajax({
        url: 'index.php?route=tool/upload',
        type: 'post',
        dataType: 'json',
        data: new FormData($('#form-upload')[0]),
        cache: false,
        contentType: false,
        processData: false,
        beforeSend: function() {
          $(element).addClass('is-loading');
        },
        complete: function() {
          $(element).removeClass('is-loading');
        },
        success: function(json) {
          $(element).parent().find('.help.is-danger').remove();

          if (json['error']) {
            $(element).parent().find('input').after('<div class="help is-danger">' + json['error'] + '</div>');
          }

          if (json['success']) {
            $(element).parent().find('input').after('<div class="help is-success">' + json['success'] + '</div>');

            $(element).parent().find('input').val(json['code']);
          }
        },
        error: function(xhr, ajaxOptions, thrownError) {
          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      });
    }
  }, 500);
});
</script>

{{ footer }}
