{{ header }}
<main id="account-forgotten">
  <div class="container">
    <nav class="breadcrumb py-4" aria-label="breadcrumbs">
      <ul>
        {% for key, breadcrumb in breadcrumbs %}
        {% if key < (breadcrumbs|length - 1) %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% else %}
        <li><span>{{ breadcrumb.text }}</span></li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <div class="columns is-multiline">
      {{ column_left }}
      {% if column_left and column_right %}
      {% set class = 'column is-6-fullhd is-6-widescreen is-6-desktop is-12-tablet is-12-mobile' %}
      {% elseif column_left or column_right %}
      {% set class = 'column is-9-fullhd is-9-widescreen is-9-desktop is-12-tablet is-12-mobile' %}
      {% else %}
      {% set class = 'column is-12' %}
      {% endif %}
      <div id="content" class="{{ class }}">{{ content_top }}
        {% if error_warning %}
        <div class="notification is-danger is-light">{{ error_warning }}</div>
        {% endif %}
        <h1 class="title is-3">{{ heading_title }}</h1>
        <div class="content">
          <p>{{ text_email }}</p>
        </div>
        <form action="{{ action }}" method="post" enctype="multipart/form-data" style="max-width: 400px">
          <div class="field required">
            <label class="label" for="input-email">{{ entry_email }}</label>
            <div class="control">
              <input type="text" name="email" value="{{ email }}" placeholder="{{ entry_email }}" id="input-email" class="input" />
            </div>
          </div>
          <div class="buttons my-5">
            <a href="{{ back }}" class="button">{{ button_back }}</a>
            <button type="submit" class="button is-primary is-light">{{ button_send }}</button>
          </div>
        </form>
      </div>
      {{ column_right }}
    </div>
  </div>
  {{ content_bottom }}
</main>
{{ footer }}
