{{ header }}
<main id="account-newsletter">
  {{ content_top }}
  <div class="container">
    <nav class="breadcrumb py-4" aria-label="breadcrumbs">
      <ul>
        {% for key, breadcrumb in breadcrumbs %}
        {% if key < (breadcrumbs|length - 1) %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% else %}
        <li><span>{{ breadcrumb.text }}</span></li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <div class="columns is-multiline">{{ column_left }}
      {% if column_left and column_right %}
      {% set class = 'column is-6-fullhd is-6-widescreen is-6-desktop is-12-tablet is-12-mobile' %}
      {% elseif column_left or column_right %}
      {% set class = 'column is-9-fullhd is-9-widescreen is-9-desktop is-12-tablet is-12-mobile' %}
      {% else %}
      {% set class = 'column is-12' %}
      {% endif %}
      <div id="content" class="{{ class }}">
        <h1 class="title is-3">{{ heading_title }}</h1>
        <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
          <fieldset>
            <div class="field">
              <label class="label">{{ entry_newsletter }}</label>
              {% if newsletter %}
              <label class="radio">
                <input type="radio" name="newsletter" value="1" checked="checked" />
                {{ text_yes }} </label>
              <label class="radio">
                <input type="radio" name="newsletter" value="0" />
                {{ text_no }}</label>
              {% else %}
              <label class="radio">
                <input type="radio" name="newsletter" value="1" />
                {{ text_yes }} </label>
              <label class="radio">
                <input type="radio" name="newsletter" value="0" checked="checked" />
                {{ text_no }}</label>
              {% endif %}
            </div>
          </fieldset>
          <div class="buttons my-5">
            <a href="{{ back }}" class="button">{{ button_back }}</a>
            <input type="submit" value="{{ button_continue }}" class="button is-primary is-outlined" />
          </div>
        </form>
        {{ content_bottom }}</div>
      {{ column_right }}
    </div>
  </div>
</main>
{{ footer }}
