{{ header }}
<main id="account-recurring">
  <div class="container">
    <nav class="breadcrumb py-4" aria-label="breadcrumbs">
      <ul>
        {% for key, breadcrumb in breadcrumbs %}
        {% if key < (breadcrumbs|length - 1) %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% else %}
        <li><a>{{ breadcrumb.text }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <div class="columns is-multiline">{{ column_left }}
      {% if column_left and column_right %}
      {% set class = 'column is-6-fullhd is-6-widescreen is-6-desktop is-12-tablet is-12-mobile' %}
      {% elseif column_left or column_right %}
      {% set class = 'column is-9-fullhd is-9-widescreen is-9-desktop is-12-tablet is-12-mobile' %}
      {% else %}
      {% set class = 'column is-12' %}
      {% endif %}
      <div id="content" class="{{ class }}">{{ content_top }}
        <h1 class="title is-3">{{ heading_title }}</h1>
        {% if recurrings %}
        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <td class="text-right">{{ column_order_recurring_id }}</td>
                <td class="text-left">{{ column_product }}</td>
                <td class="text-left">{{ column_status }}</td>
                <td class="text-left">{{ column_date_added }}</td>
                <td class="text-right"></td>
              </tr>
            </thead>
            <tbody>
            {% for recurring in recurrings %}
            <tr>
              <td class="text-right">#{{ recurring.order_recurring_id }}</td>
              <td class="text-left">{{ recurring.product }}</td>
              <td class="text-left">{{ recurring.status }}</td>
              <td class="text-left">{{ recurring.date_added }}</td>
              <td class="text-right"><a href="{{ recurring.view }}" data-toggle="tooltip" title="{{ button_view }}" class="btn btn-info"><i class="fa fa-eye"></i></a></td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="text-right">{{ pagination }}</div>
        {% else %}
        <p>{{ text_empty }}</p>
        {% endif %}
        <div class="buttons my-5">
          <a href="{{ continue }}" class="button is-primary is-outlined">{{ button_continue }}</a>
        </div>
        {{ content_bottom }}
      </div>
      {{ column_right }}
    </div>
  </div>
</main>
{{ footer }}
