{{ header }}
<main id="account-register">
  <div class="container">
    <nav class="breadcrumb py-4" aria-label="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">
      <ul>
        {% for key, breadcrumb in breadcrumbs %}
        {% if key < (breadcrumbs|length - 1) %} <li itemprop="itemListElement" itemscope
          itemtype="https://schema.org/ListItem">
          <a href="{{ breadcrumb.href }}" itemprop="item">{{ breadcrumb.text }}</a>
          </li>
          {% else %}
          <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
            <span itemprop="item">{{ breadcrumb.text }}</span>
          </li>
          {% endif %}
          {% endfor %}
      </ul>
    </nav>
    <div class="columns is-multiline">
      {{ column_left }}
      {% if column_left and column_right %}
      {% set class = 'column is-6-fullhd is-6-widescreen is-6-desktop is-12-tablet is-12-mobile' %}
      {% elseif column_left or column_right %}
      {% set class = 'column is-9-fullhd is-9-widescreen is-9-desktop is-12-tablet is-12-mobile' %}
      {% else %}
      {% set class = 'column is-12' %}
      {% endif %}
      <div id="content" class="{{ class }} mb-5">{{ content_top }}
        {% if error_warning %}
        <div class="notification is-danger is-light">
          {{ error_warning }}
        </div>
        {% endif %}
        <form class="box mx-auto" style="max-width: 480px" action="{{ action }}" method="post" enctype="multipart/form-data">
          <h1 class="title is-4 is-flex is-align-items-center">
            <span class="icon is-medium has-text-primary">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="32" width="32">
                <path d="M5.625 4.6875a1.875 1.875 0 1 0 3.75 0 1.875 1.875 0 1 0 -3.75 0" stroke-width="1"></path>
                <path d="M12.1875 12.8125c-0.296875 -5.833125 -9.078125 -5.833125 -9.375 0m3.4375 -1.25h2.5m-1.25 -1.25v2.5" stroke-width="1"></path>
              </svg>
            </span>
            <span class="ml-2">{{ heading_title }}</span>            
          </h1>
          <div class="field {{ customer_groups|length > 1 ? 'required' : 'is-hidden' }}">
            <label class="label">{{ entry_customer_group }}</label>
            <div class="control">
              {% for customer_group in customer_groups %}
              {% if customer_group.customer_group_id == customer_group_id %}
              <label class="radio">
                <input type="radio" name="customer_group_id" value="{{ customer_group.customer_group_id }}"
                  checked="checked" />
                {{ customer_group.name }}
              </label>
              {% else %}
              <label class="radio">
                <input type="radio" name="customer_group_id" value="{{ customer_group.customer_group_id }}" />
                {{ customer_group.name }}
              </label>
              {% endif %}
              {% endfor %}
            </div>
          </div>
          <div class="field required native-field">
            <label class="label">{{ entry_firstname }}</label>
            <div class="control">
              <input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}"
                class="input">
            </div>
            {% if error_firstname %}
            <p class="help is-danger">{{ error_firstname }}</p>
            {% endif %}
          </div>
          <div class="field required native-field">
            <label class="label">{{ entry_lastname }}</label>
            <div class="control">
              <input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}"
                class="input">
            </div>
            {% if error_lastname %}
            <p class="help is-danger">{{ error_lastname }}</p>
            {% endif %}
          </div>
          <div class="field required native-field">
            <label class="label">{{ entry_telephone }}</label>
            <div class="control">
              <input type="text" name="telephone" value="{{ telephone }}" placeholder="{{ entry_telephone }}"
                class="input">
            </div>
            {% if error_telephone %}
            <p class="help is-danger">{{ error_telephone }}</p>
            {% endif %}
          </div>
          <div class="field required native-field">
            <label class="label">{{ entry_email }}</label>
            <div class="control">
              <input type="email" name="email" value="{{ email }}" placeholder="{{ entry_email }}" class="input">
            </div>
            {% if error_email %}
            <p class="help is-danger">{{ error_email }}</p>
            {% endif %}
          </div>
          <div class="field required native-field">
            <label class="label">{{ entry_password }}</label>
            <div class="control">
              <input type="password" name="password" value="" placeholder="{{ entry_password }}" class="input">
            </div>
            {% if error_password %}
            <p class="help is-danger">{{ error_password }}</p>
            {% endif %}
          </div>
          <div class="field required native-field">
            <label class="label">{{ entry_confirm }}</label>
            <div class="control">
              <input type="password" name="confirm" value="" placeholder="{{ entry_confirm }}" class="input">
            </div>
            {% if error_confirm %}
            <p class="help is-danger">{{ error_confirm }}</p>
            {% endif %}
          </div>
          {% for custom_field in custom_fields %}
          {% if custom_field.type == 'select' %}
          <div class="field custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="label" for="custom-field{{ custom_field.custom_field_id }}">
              {{ custom_field.name }}
            </label>
            <div class="control">
              <select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                id="custom-field{{ custom_field.custom_field_id }}"
                id="custom-field{{ custom_field.custom_field_id }}" class="input">
                <option value="">{{ text_select }}</option>
                {% for custom_field_value in custom_field.custom_field_value %}
                {% if account_custom_field[custom_field.custom_field_id] and
                custom_field_value.custom_field_value_id == account_custom_field[custom_field.custom_field_id] %}
                <option value="{{ custom_field_value.custom_field_value_id }}" selected="selected">{{
                  custom_field_value.name }}</option>
                {% else %}
                <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}
                </option>
                {% endif %}
                {% endfor %}
              </select>
              {% if error_custom_field[custom_field.custom_field_id] %}
              <div class="help is-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
              {% endif %}
            </div>
          </div>
          {% endif %}
          {% if custom_field.type == 'radio' %}
          <div class="field custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="label">{{ custom_field.name }}</label>
            <div class="control">
              {% for custom_field_value in custom_field.custom_field_value %}
              {% if account_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id
              == account_custom_field[custom_field.custom_field_id] %}
              <label class="radio">
                <input type="radio"
                  name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                  id="custom-field{{ custom_field.custom_field_id }}"
                  value="{{ custom_field_value.custom_field_value_id }}" checked="checked" />
                {{ custom_field_value.name }}
              </label>
              {% else %}
              <label class="radio">
                <input type="radio"
                  name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                  id="custom-field{{ custom_field.custom_field_id }}"
                  value="{{ custom_field_value.custom_field_value_id }}" />
                {{ custom_field_value.name }}
              </label>
              {% endif %}
              {% endfor %}
              {% if error_custom_field[custom_field.custom_field_id] %}
              <div class="help is-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
              {% endif %}
            </div>
          </div>
          {% endif %}
          {% if custom_field.type == 'checkbox' %}
          <div class="field custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="label">{{ custom_field.name }}</label>
            <div class="control">
              {% for custom_field_value in custom_field.custom_field_value %}
              {% if account_custom_field[custom_field.custom_field_id] and custom_field_value.custom_field_value_id
              in account_custom_field[custom_field.custom_field_id] %}
              <label class="checkbox">
                <input id="custom-field{{ custom_field.custom_field_id }}" type="checkbox"
                  name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]"
                  value="{{ custom_field_value.custom_field_value_id }}" checked="checked" />
                {{ custom_field_value.name }}
              </label>
              {% else %}
              <label class="checkbox">
                <input id="custom-field{{ custom_field.custom_field_id }}" type="checkbox"
                  name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]"
                  value="{{ custom_field_value.custom_field_value_id }}" />
                {{ custom_field_value.name }}
              </label>
              {% endif %}
              {% endfor %}
              {% if error_custom_field[custom_field.custom_field_id] %}
              <div class="help is-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
              {% endif %}
            </div>
          </div>
          {% endif %}
          {% if custom_field.type == 'text' %}
          {{ custom_field.required }}
          <div class="field custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="label" for="custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name
              }}</label>
            <div class="control">
              <input type="text"
                name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                value="{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}"
                placeholder="{{ custom_field.name }}" id="custom-field{{ custom_field.custom_field_id }}"
                id="custom-field{{ custom_field.custom_field_id }}" class="input" />
              {% if error_custom_field[custom_field.custom_field_id] %}
              <div class="help is-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
              {% endif %}
            </div>
          </div>
          {% endif %}
          {% if custom_field.type == 'textarea' %}
          <div class="field custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="label" for="custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name
              }}</label>
            <div class="control">
              <textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                rows="5" placeholder="{{ custom_field.name }}" id="custom-field{{ custom_field.custom_field_id }}"
                id="custom-field{{ custom_field.custom_field_id }}"
                class="input">{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}</textarea>
              {% if error_custom_field[custom_field.custom_field_id] %}
              <div class="help is-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
              {% endif %}
            </div>
          </div>
          {% endif %}
          {% if custom_field.type == 'file' %}
          <div class="field custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="label">{{ custom_field.name }}</label>
            <div class="control">
              <button type="button" id="button-custom-field {{ custom_field.custom_field_id }}"
                id="custom-field{{ custom_field.custom_field_id }}" class="btn btn-default"><i
                  class="fa fa-upload"></i> {{ button_upload }}</button>
              <input type="hidden"
                name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                value="{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }} {% endif %}" />
              {% if error_custom_field[custom_field.custom_field_id] %}
              <div class="help is-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
              {% endif %}
            </div>
          </div>
          {% endif %}
          {% if custom_field.type == 'date' %}
          <div class="field custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="label" for="custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name
              }}</label>
            <div class="control">
              <input id="custom-field{{ custom_field.custom_field_id }}" class="input" type="date"
                name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                value="{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}"
                placeholder="{{ custom_field.name }}" id="custom-field{{ custom_field.custom_field_id }}" />
            </div>
            {% if error_custom_field[custom_field.custom_field_id] %}
            <p class="help is-danger">{{ error_custom_field[custom_field.custom_field_id] }}</p>
            {% endif %}
          </div>
          {% endif %}
          {% if custom_field.type == 'time' %}          
          <div class="field custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="label" for="custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name
              }}</label>
            <div class="control">
              <div class="input-group time">
                <input id="custom-field{{ custom_field.custom_field_id }}" type="text"
                  name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                  value="{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}"
                  placeholder="{{ custom_field.name }}" data-date-format="HH:mm"
                  id="custom-field{{ custom_field.custom_field_id }}" class="input" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span>
              </div>
              {% if error_custom_field[custom_field.custom_field_id] %}
              <div class="help is-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
              {% endif %}
            </div>
          </div>
          {% endif %}
          {% if custom_field.type == 'time' %}          
          <div class="field custom-field" data-sort="{{ custom_field.sort_order }}">
            <label class="label" for="custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name
              }}</label>
            <div class="control">
              <div class="input-group datetime">
                <input id="custom-field{{ custom_field.custom_field_id }}" type="text"
                  name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]"
                  value="{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}"
                  placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD HH:mm"
                  id="custom-field{{ custom_field.custom_field_id }}" class="input" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
                </span>
              </div>
              {% if error_custom_field[custom_field.custom_field_id] %}
              <div class="help is-danger">{{ error_custom_field[custom_field.custom_field_id] }}</div>
              {% endif %}
            </div>
          </div>
          {% endif %}
          {% endfor %}
          {% if text_agree %}
          <div class="field required">
            <div class="checkbox">
              <label class="label has-text-weight-normal">
                <input type="checkbox" name="agree" {{ agree ? 'checked' : '' }} value="1">
                {{ text_agree }}
              </label>
            </div>
            {% if error_agree %}
            <p class="help is-danger">{{ error_agree }}</p>
            {% endif %}
          </div>
          {% endif %}
          {% if captcha %}
          <div class="field required">
            {{ captcha }}
          </div>
          {% endif %}
          <div class="buttons">
            <button type="submit" class="button is-success is-medium is-fullwidth">{{ button_register }}</button>
          </div>
        </form>
      </div>
      {{ column_right }}
    </div>
  </div>
  {{ content_bottom }}
</main>

<script>
  // Sort the custom fields
  $('.custom-field[data-sort]').detach().each(function () {
    if ($(this).attr('data-sort') >= 0 && $(this).attr('data-sort') <= $('.native-field').length) {
      $('.native-field').eq($(this).attr('data-sort')).before(this);
    }

    if ($(this).attr('data-sort') > $('.native-field').length) {
      $('.native-field:last').after(this);
    }

    if ($(this).attr('data-sort') == $('.native-field').length) {
      $('.native-field:last').after(this);
    }

    if ($(this).attr('data-sort') < -$('.native-field').length) {
      $('.native-field:first').before(this);
    }
  });

  $('button[id^="button-custom-field"]').on('click', function () {
    let element = this;

    $('#form-upload').remove();

    $('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

    $('#form-upload input[name="file"]').trigger('click');

    if (typeof timer != 'undefined') {
      clearInterval(timer);
    }

    timer = setInterval(function () {
      if ($('#form-upload input[name="file"]').val() != '') {
        clearInterval(timer);

        $.ajax({
          url: 'index.php?route=tool/upload',
          type: 'post',
          dataType: 'json',
          data: new FormData($('#form-upload')[0]),
          cache: false,
          contentType: false,
          processData: false,
          beforeSend: function () {
            $(element).addClass('is-loading');
          },
          complete: function () {
            $(element).removeClass('is-loading');
          },
          success: function (json) {
            $(element).parent().find('.help is-danger').remove();

            if (json['error']) {
              $(element).parent().find('input').after('<div class="help is-danger">' + json['error'] + '</div>');
            }

            if (json['success']) {
              alert(json['success']);

              $(element).parent().find('input').val(json['code']);
            }
          },
          error: function (xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
        });
      }
    }, 500);
  });

  $('input[name="customer_group_id"]').on('change', function () {

    $.ajax({
      url: 'index.php?route=account/register/customfield&customer_group_id=' + this.value,
      dataType: 'json',
      success: function (json) {
        $('.custom-field').hide();
        $('.custom-field').removeClass('required');

        for (i = 0; i < json.length; i++) {
          custom_field = json[i];

          $('#custom-field' + custom_field['custom_field_id']).parents('.custom-field').show();

          if (custom_field['required']) {
            $('#custom-field' + custom_field['custom_field_id']).parents('.custom-field').addClass('required');
          }
        }
      },
      error: function (xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  });

  $('input[name="customer_group_id"]:checked').trigger('change');

</script>

{{ footer }}