<form class="payment-methods">
  {% if error_warning %}
  <div class="notification is-danger is-light">{{ error_warning }}</div>
  {% endif %}
  {% if payment_methods %}
  <div class="title is-5">{{ text_payment_method }}</div>
  <div class="columns is-multiline">
    {% for payment_method in payment_methods %}
    <div class="column is-6-desktop is-12-mobile">
      <div class="field">
        <label class="radio-ui is-flex is-align-items-center is-justify-content-space-between px-5 py-4">
          <input type="radio" name="payment_method" value="{{ payment_method.code }}" />
          <span class="is-block mb-0">
            <span class="is-block has-text-primary has-text-weight-bold">{{ payment_method.title }}</span>          
            {% if payment_method.terms %}
            <span class="is-block is-size-7 has-text-grey">{{ payment_method.terms }}</span>
            {% endif %}
          </span>          
        </label>
      </div>
    </div>
    {% endfor %}
  </div>
{% endif %}
<div class="title is-5 mb-3">{{ text_comments }}</div>
<div class="field">
  <textarea name="comment" class="textarea" placeholder="{{ text_comments }}">{{ comment }}</textarea>
</div>
</form>
