<form id="payment-address-form" class="mb-0">
  <div class="title is-5">{{ text_checkout_payment_address }}</div>
  {% if addresses %}
  <div class="block mb-3">
    <label class="radio">
      <input type="radio" name="payment_address" value="existing" checked="checked" />
      {{ text_address_existing }}
    </label>
  </div>
  <div id="payment-existing" class="field">
    <div class="select is-fullwidth">
      <select name="address_id">
        {% for address in addresses %}
        {% if address['address_id'] == address_id %}
        <option value="{{ address.address_id }}" selected>{{ address.firstname }} {{ address.lastname }}, {{ address.city }}, {{ address.address_1 }}, {{ address.address_2 }}</option>
        {% else %}
        <option value="{{ address.address_id }}">{{ address.firstname }} {{ address.lastname }}, {{ address.city }}, {{ address.address_1 }}, {{ address.address_2 }}</option>
        {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="block mb-0">
    <label class="radio">
      <input type="radio" name="payment_address" value="new" />
      {{ text_address_new }}
    </label>
  </div>
  {% endif %}
  <div id="payment-new" class="mt-5 {{ addresses ? 'is-hidden' : '' }}">
    <div class="columns is-multiline">
      <div class="column is-12">
        <div class="field">
          <label class="label" for="input-payment-company">{{ entry_company }}</label>
          <div class="control">
            <input type="text" name="company" value="{{ company }}" placeholder="{{ entry_company }}" id="input-payment-company" class="input" />
          </div>
        </div>
      </div>
      <div class="column is-6-desktop is-12-mobile">
        <div class="field required">
          <label class="label" for="input-payment-firstname">{{ entry_firstname }}</label>
          <div class="control">
            <input type="text" name="firstname" value="{{ firstname }}" placeholder="{{ entry_firstname }}" id="input-payment-firstname" class="input" />
          </div>
        </div>
      </div>
      <div class="column is-6-desktop is-12-mobile">
        <div class="field required">
          <label class="label" for="input-payment-lastname">{{ entry_lastname }}</label>
          <div class="control">
            <input type="text" name="lastname" value="{{ lastname }}" placeholder="{{ entry_lastname }}" id="input-payment-lastname" class="input" />
          </div>
        </div>
      </div>
      <div class="column is-6-desktop is-12-mobile">
        <div class="field required">
          <label class="label" for="input-payment-country">{{ entry_country }}</label>
          <div class="select is-fullwidth">
            <select name="country_id" id="input-payment-country">
              <option value="0">{{ text_select }}</option>
              {% for country in countries %}
              {% if country.country_id == country_id %}
              <option value="{{ country.country_id }}" selected>{{ country.name }}</option>
              {% else %}
              <option value="{{ country.country_id }}">{{ country.name }}</option>
              {% endif %}
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      <div class="column is-6-desktop is-12-mobile">
        <div class="field required">
          <label class="label" for="input-payment-zone">{{ entry_zone }}</label>
          <div class="select is-fullwidth">
            <select name="zone_id" id="input-payment-zone"></select>
          </div>
        </div>
      </div>
      <div class="column is-6-desktop is-12-mobile">
        <div class="field required">
          <label class="label" for="input-payment-postcode">{{ entry_postcode }}</label>
          <div class="control">
            <input type="text" name="postcode" value="{{ postcode }}" placeholder="{{ entry_postcode }}" id="input-payment-postcode" class="input" />
          </div>
        </div>
      </div>
      <div class="column is-6-desktop is-12-mobile">
        <div class="field required">
          <label class="label" for="input-payment-city">{{ entry_city }}</label>
          <div class="control">
            <input type="text" name="city" value="{{ city }}" placeholder="{{ entry_city }}" id="input-payment-city" class="input" />
          </div>
        </div>
      </div>
      <div class="column is-6-desktop is-12-mobile">
        <div class="field required">
          <label class="label" for="input-payment-address-1">{{ entry_address_1 }}</label>
          <div class="control">
            <input type="text" name="address_1" value="{{ address_1 }}" placeholder="{{ entry_address_1 }}" id="input-payment-address-1" class="input" />
          </div>
        </div>
      </div>
      <div class="column is-6-desktop is-12-mobile">
        <div class="field">
          <label class="label" for="input-payment-address-2">{{ entry_address_2 }}</label>
          <div class="control">
            <input type="text" name="address_2" value="{{ address_2 }}" placeholder="{{ entry_address_2 }}" id="input-payment-address-2" class="input" />
          </div>
        </div>
      </div>
      {% for custom_field in custom_fields %}
      {% if custom_field.type == 'select' %}
      <div class="column is-6-desktop is-12-mobile" data-sort="{{ custom_field.sort_order }}">
        <div class="field{% if custom_field.required %} required {% endif %} custom-field">
          <label class="label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
          <div class="select is-fullwidth">
            <select name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="input">
              <option value="">{{ text_select }}</option>
              {% for custom_field_value in custom_field.custom_field_value %}
              <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>
      {% endif %}
      {% if custom_field.type == 'radio' %}
      <div class="column is-6-desktop is-12-mobile" data-sort="{{ custom_field.sort_order }}">
        <div class="field{% if custom_field.required %} required {% endif %} custom-field">
          <label class="label">{{ custom_field.name }}</label>
          <div class="control">
            <div id="input-payment-custom-field{{ custom_field.custom_field_id }}">
              {% for custom_field_value in custom_field.custom_field_value %}
              <div class="radio">
                <label>
                  <input type="radio" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" />
                  {{ custom_field_value.name }}</label>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% if custom_field.type == 'checkbox' %}
      <div class="column is-6-desktop is-12-mobile" data-sort="{{ custom_field.sort_order }}">
        <div class="field{% if custom_field.required %} required {% endif %} custom-field">
          <label class="label">{{ custom_field.name }}</label>
          <div class="control">
            <div id="input-payment-custom-field{{ custom_field.custom_field_id }}">
              {% for custom_field_value in custom_field.custom_field_value %}
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" />
                  {{ custom_field_value.name }}</label>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% if custom_field.type == 'text' %}
      <div class="column is-6-desktop is-12-mobile" data-sort="{{ custom_field.sort_order }}">
        <div class="field{% if custom_field.required %} required {% endif %} custom-field">
          <label class="label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
          <div class="control">
            <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="input" />
          </div>
        </div>
      </div>
      {% endif %}
      {% if custom_field.type == 'textarea' %}
      <div class="column is-6-desktop is-12-mobile" data-sort="{{ custom_field.sort_order }}">
        <div class="field{% if custom_field.required %} required {% endif %} custom-field">
          <label class="label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
          <div class="control">
            <textarea name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="textarea">{{ custom_field.value }}</textarea>
          </div>
        </div>
      </div>
      {% endif %}
      {% if custom_field.type == 'file' %}
      <div class="column is-6-desktop is-12-mobile" data-sort="{{ custom_field.sort_order }}">
        <div class="field{% if custom_field.required %} required {% endif %} custom-field">
          <label class="label">{{ custom_field.name }}</label>
          <div class="control">
            <button type="button" id="button-payment-custom-field{{ custom_field.custom_field_id }}" data-loading-text="{{ text_loading }}" class="button is-default"><i class="fa fa-upload"></i> {{ button_upload }}</button>
            <input type="hidden" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="" id="input-payment-custom-field{{ custom_field.custom_field_id }}" />
          </div>
        </div>
      </div>
      {% endif %}
      {% if custom_field.type == 'date' %}
      <div class="column is-6-desktop is-12-mobile" data-sort="{{ custom_field.sort_order }}">
        <div class="field{% if custom_field.required %} required {% endif %} custom-field">
          <label class="label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
          <div class="control">
            <div class="input-group date">
              <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="input" />
              <span class="input-group-btn">
              <button type="button" class="button is-default"><i class="fa fa-calendar"></i></button>
              </span></div>
          </div>
        </div>
      </div>
      {% endif %}
      {% if custom_field.type == 'time' %}
      <div class="column is-6-desktop is-12-mobile" data-sort="{{ custom_field.sort_order }}">
        <div class="field{% if custom_field.required %} required {% endif %} custom-field">
          <label class="label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
          <div class="control">
            <div class="input-group time">
              <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" data-date-format="HH:mm" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="input" />
              <span class="input-group-btn">
              <button type="button" class="button is-default"><i class="fa fa-calendar"></i></button>
              </span></div>
          </div>
        </div>
      </div>
      {% endif %}
      {% if custom_field.type == 'datetime' %}
      <div class="column is-6-desktop is-12-mobile" data-sort="{{ custom_field.sort_order }}">
        <div class="field{% if custom_field.required %} required {% endif %} custom-field">
          <label class="label" for="input-payment-custom-field{{ custom_field.custom_field_id }}">{{ custom_field.name }}</label>
          <div class="control">
            <div class="input-group datetime">
              <input type="text" name="custom_field[{{ custom_field.location }}][{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" data-date-format="YYYY-MM-DD HH:mm" id="input-payment-custom-field{{ custom_field.custom_field_id }}" class="input" />
              <span class="input-group-btn">
              <button type="button" class="button is-default"><i class="fa fa-calendar"></i></button>
              </span></div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      <div class="column is-6-desktop is-6-tablet is-12-mobile">
        <div class="field">
          <label class="checkbox">
            <input type="checkbox" name="billing_for_shipping" {{ billing_for_shipping ? 'checked' : '' }} value="1" />
            {{ entry_billing_for_shipping }}
          </label>
        </div>
      </div>
    </div>
  </div>
</form>

<script>

  $(document).ready(function(){
    $('#payment-address-form select[name="country_id"]').trigger('change');
  });

  $('body').on('change', '#payment-address-form input[name="payment_address"]', function () {    
    if ($(this).val() === 'new') {
      $('#payment-new').removeClass('is-hidden');
      $('#payment-existing').closest('.field').addClass('is-hidden');
      $('#payment-address-form input[name="postcode"], #payment-address-form input[name="address_1"], #payment-address-form input[name="address_2"], #payment-address-form input[name="city"]').val('');
    } else {
      $('#payment-new').addClass('is-hidden');
      $('#payment-existing').closest('.field').removeClass('is-hidden');
    }
  });
</script>
