{{ header }}
<main id="error-not-found">
  <div class="container">
    <nav class="breadcrumb py-4" aria-label="breadcrumbs">
      <ul>
        {% for key, breadcrumb in breadcrumbs %}
        {% if key < (breadcrumbs|length - 1) %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% else %}
        <li><a>{{ breadcrumb.text }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <div class="columns is-multiline">{{ column_left }}
      {% if column_left and column_right %}
      {% set class = 'column is-6-desktop is-12-mobile' %}
      {% elseif column_left or column_right %}
      {% set class = 'column is-9-desktop is-12-mobile' %}
      {% else %}
      {% set class = 'column is-12' %}
      {% endif %}
      <div id="content" class="{{ class }}">{{ content_top }}
        <h1 class="title is-1">{{ heading_title }}</h1>
        <div class="content">
          <p>{{ text_error }}</p>
        </div>
        <div class="buttons my-5">
          <a href="{{ continue }}" class="button is-primary is-outlined">{{ button_continue }}</a>
        </div>
        {{ content_bottom }}
      </div>
      {{ column_right }}
    </div>
  </div>
</main>
{{ footer }}
