{{ header }}
<main id="category-page">
  {{ content_top }}
  <div class="container">
    <nav class="breadcrumb py-4" aria-label="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">
      <ul>
        {% for key, breadcrumb in breadcrumbs %}
        {% if key < (breadcrumbs|length - 1) %}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{{ breadcrumb.href }}" itemprop="item">{{ breadcrumb.text }}</a>
        </li>
        {% else %}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span itemprop="item">{{ breadcrumb.text }}</span>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <div class="columns is-multiline">
      {{ column_left }}
      {% if column_left and column_right %}
      {% set class = 'column is-6-fullhd is-6-widescreen is-6-desktop is-12-tablet is-12-mobile' %}
      {% elseif column_left or column_right %}
      {% set class = 'column is-9-fullhd is-9-widescreen is-9-desktop is-12-tablet is-12-mobile' %}
      {% else %}
      {% set class = 'column is-12' %}
      {% endif %}
      <div id="content" class="{{ class }}">
        <h1 class="title is-1">{{ heading_title }}</h1>
        {% if stickers %}
        <div class="category-stickers mb-4">
          {% for sticker in stickers %}
          <span class="{{ sticker.class }}">{{ sticker.content|html_entity_decode }}</span>
          {% endfor %}
        </div>          
        {% endif %}
        {% if description %}
        <div class="content">{{ description }}</div>
        {% endif %}
        <hr>
        {% if categories %}
        <div class="title is-4 has-text-grey">{{ text_refine }}</div>
          <div class="block category-children">
            {% for category in categories %}
            <a href="{{ category.href }}" class="tag is-link is-light is-medium mb-1">{{ category.name }}</a>
            {% endfor %}
          </div>
        {% endif %}
        {% if products %}
        <div class="products-toolbar is-flex is-justify-content-space-between is-align-items-center">
          <div class="block mb-0">
            <button type="button" class="filter-trigger button is-primary is-hidden">
              <span class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="20" width="20">
                  <path d="M6.27875 11.0475v-2.44875c0 -0.34625000000000006 0 -0.52 -0.03125 -0.6875a1.83125 1.83125 0 0 0 -0.136875 -0.42875c-0.07125000000000001 -0.15437499999999998 -0.17125 -0.29625 -0.37187499999999996 -0.57875L3.7093749999999996 4.041875c-0.35374999999999995 -0.49812500000000004 -0.530625 -0.7474999999999999 -0.5225 -0.955625a0.610625 0.610625 0 0 1 0.2375 -0.459375C3.5893750000000004 2.5 3.895 2.5 4.50625 2.5h5.988125c0.61125 0 0.9168750000000001 0 1.08125 0.12687500000000002a0.60625 0.60625 0 0 1 0.2375 0.459375c0.00875 0.208125 -0.16875 0.4575 -0.521875 0.95625l-2.029375 2.86125c-0.2 0.28250000000000003 -0.300625 0.42437500000000006 -0.37187499999999996 0.57875a1.83125 1.83125 0 0 0 -0.1375 0.42937500000000006c-0.03125 0.166875 -0.03125 0.34 -0.03125 0.6875v3.6693750000000005m-2.441875 -1.22125c1.03375 -0.4575 2.4425 -0.185 2.4425 1.22125m-2.4425 -1.22125c-0.020625 1.3968749999999999 1.41375 1.7449999999999999 2.4425 1.22125" stroke-width="1"></path>
                </svg>
              </span>
            </button>
            <div class="dropdown is-hoverable">
              <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-sort">
                  <span class="icon has-text-link">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="20" width="20">
                      <path d="M2.8125 4.375h9.375m-9.375 3.125h6.25m-6.25 3.125h2.5" stroke-width="1"></path>
                    </svg>
                  </span>
                  <span class="icon has-text-link p-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="16" height="16" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-sort" role="menu">
                <div class="dropdown-content">
                  {% for sorts in sorts %}
                  {% if sorts.value == '%s-%s'|format(sort, order) %}
                  <a href="{{ sorts.href }}" class="dropdown-item is-active" rel="nofollow">
                    {{ sorts.text }}
                  </a>
                  {% else %}
                  <a href="{{ sorts.href }}" class="dropdown-item" rel="nofollow">
                    {{ sorts.text }}
                  </a>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="dropdown is-hoverable">
              <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-show">
                  <span class="icon has-text-link">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="20" width="20">
                      <path d="M1.59375 8.37875c-0.17 -0.233125 -0.255 -0.35000000000000003 -0.31375 -0.5750000000000001a1.5375 1.5375 0 0 1 0 -0.6068749999999999c0.05875 -0.225625 0.14375000000000002 -0.3425 0.31375 -0.5750000000000001C2.524375 5.34375 4.564375 3.125 7.5 3.125c2.935625 0 4.975625 2.21875 5.90625 3.4962500000000003 0.17 0.233125 0.255 0.35000000000000003 0.31375 0.5750000000000001a1.5375 1.5375 0 0 1 0 0.6068749999999999c-0.05875 0.225625 -0.14375000000000002 0.3425 -0.31375 0.5750000000000001C12.475624999999999 9.65625 10.435625 11.875 7.5 11.875c-2.935625 0 -4.975625 -2.21875 -5.90625 -3.4962500000000003" stroke-width="1"></path>
                      <path d="M7.5 8.75a1.25 1.25 0 1 0 0 -2.5 1.25 1.25 0 0 0 0 2.5" stroke-width="1"></path>
                    </svg>
                  </span>
                  <span class="icon is-small has-text-link p-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    </svg>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="dropdown-show" role="menu">
                <div class="dropdown-content">
                  {% for limits in limits %}
                  {% if limits.value == limit %}
                  <a href="{{ limits.href }}" class="dropdown-item is-active" rel="nofollow">
                    {{ limits.text }}
                  </a>
                  {% else %}
                  <a href="{{ limits.href }}" class="dropdown-item" rel="nofollow">
                    {{ limits.text }}
                  </a>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="field has-addons mb-0">
            <p class="control mb-0">
              <button class="button" id="list-view">
                <span class="icon has-text-link">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="20" width="20">
                    <path d="M7.5 2.1875v10.625M1.875 5.875c0 -1.4000000000000001 0 -2.1 0.2725 -2.6350000000000002a2.5 2.5 0 0 1 1.0925 -1.0925C3.775 1.875 4.475 1.875 5.875 1.875h3.25c1.4000000000000001 0 2.1 0 2.6350000000000002 0.2725a2.5 2.5 0 0 1 1.0925 1.0925C13.125 3.775 13.125 4.475 13.125 5.875v3.25c0 1.4000000000000001 0 2.1 -0.2725 2.6350000000000002a2.5 2.5 0 0 1 -1.0925 1.0925C11.225000000000001 13.125 10.525 13.125 9.125 13.125H5.875c-1.4000000000000001 0 -2.1 0 -2.6350000000000002 -0.2725a2.5 2.5 0 0 1 -1.0925 -1.0925C1.875 11.225000000000001 1.875 10.525 1.875 9.125z" stroke-width="1"></path>
                  </svg>
                </span>
              </button>
            </p>
            <p class="control mb-0">
              <button class="button" id="grid-view">
                <span class="icon has-text-link">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 14 14" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="20" width="20">
                    <path d="M1.6250000000000002 3.6562500000000004c0 -0.9576666666666668 0 -1.4365000000000003 0.2979166666666667 -1.7333333333333336C2.219208333333334 1.6250000000000002 2.698041666666667 1.6250000000000002 3.6562500000000004 1.6250000000000002c0.9576666666666668 0 1.4365000000000003 0 1.7333333333333336 0.2979166666666667 0.2979166666666667 0.2968333333333334 0.2979166666666667 0.7756666666666667 0.2979166666666667 1.7333333333333336 0 0.9576666666666668 0 1.4365000000000003 -0.2979166666666667 1.7333333333333336 -0.2968333333333334 0.2979166666666667 -0.7756666666666667 0.2979166666666667 -1.7333333333333336 0.2979166666666667 -0.9576666666666668 0 -1.4365000000000003 0 -1.7333333333333336 -0.2979166666666667C1.6250000000000002 5.093291666666667 1.6250000000000002 4.614458333333334 1.6250000000000002 3.6562500000000004m0 5.691291666666667c0 -0.9576666666666668 0 -1.4365000000000003 0.2979166666666667 -1.7333333333333336 0.2968333333333334 -0.2979166666666667 0.7756666666666667 -0.2979166666666667 1.7333333333333336 -0.2979166666666667 0.9576666666666668 0 1.4365000000000003 0 1.7333333333333336 0.2979166666666667 0.2979166666666667 0.2968333333333334 0.2979166666666667 0.7756666666666667 0.2979166666666667 1.7333333333333336 0 0.9576666666666668 0 1.4365000000000003 -0.2979166666666667 1.7333333333333336 -0.2968333333333334 0.2979166666666667 -0.7756666666666667 0.2979166666666667 -1.7333333333333336 0.2979166666666667 -0.9576666666666668 0 -1.4365000000000003 0 -1.7333333333333336 -0.2979166666666667C1.6250000000000002 10.784583333333336 1.6250000000000002 10.305750000000002 1.6250000000000002 9.348083333333333M7.312500000000001 3.6562500000000004c0 -0.9576666666666668 0 -1.4365000000000003 0.2979166666666667 -1.7333333333333336 0.2968333333333334 -0.2979166666666667 0.7756666666666667 -0.2979166666666667 1.7333333333333336 -0.2979166666666667 0.9576666666666668 0 1.4365000000000003 0 1.7333333333333336 0.2979166666666667 0.2979166666666667 0.2968333333333334 0.2979166666666667 0.7756666666666667 0.2979166666666667 1.7333333333333336 0 0.9576666666666668 0 1.4365000000000003 -0.2979166666666667 1.7333333333333336 -0.2968333333333334 0.2979166666666667 -0.7756666666666667 0.2979166666666667 -1.7333333333333336 0.2979166666666667 -0.9576666666666668 0 -1.4365000000000003 0 -1.7333333333333336 -0.2979166666666667 -0.2979166666666667 -0.2968333333333334 -0.2979166666666667 -0.7756666666666667 -0.2979166666666667 -1.7333333333333336m0 5.691291666666667c0 -0.9576666666666668 0 -1.4365000000000003 0.2979166666666667 -1.7333333333333336 0.2968333333333334 -0.2979166666666667 0.7756666666666667 -0.2979166666666667 1.7333333333333336 -0.2979166666666667 0.9576666666666668 0 1.4365000000000003 0 1.7333333333333336 0.2979166666666667 0.2979166666666667 0.2968333333333334 0.2979166666666667 0.7756666666666667 0.2979166666666667 1.7333333333333336 0 0.9576666666666668 0 1.4365000000000003 -0.2979166666666667 1.7333333333333336 -0.2968333333333334 0.2979166666666667 -0.7756666666666667 0.2979166666666667 -1.7333333333333336 0.2979166666666667 -0.9576666666666668 0 -1.4365000000000003 0 -1.7333333333333336 -0.2979166666666667 -0.2979166666666667 -0.2968333333333334 -0.2979166666666667 -0.7756666666666667 -0.2979166666666667 -1.7333333333333336" stroke-width="1"></path>
                  </svg>
                </span>
              </button>
            </p>
          </div>
        </div>
        <div class="product-cards grid columns is-mobile is-multiline mt-3 is-variable is-3-desktop is-3-tablet is-1-mobile">
          {% if column_left and column_right %}
          {% set class = 'column is-6-fullhd is-6-widescreen is-12-desktop is-6-tablet is-12-mobile' %}
          {% elseif column_left or column_right %}
          {% set class = 'column is-4-fullhd is-6-widescreen is-6-desktop is-6-tablet is-12-mobile' %}
          {% else %}
          {% set class = 'column is-3-fullhd is-4-widescreen is-6-desktop is-6-tablet is-12-mobile' %}
          {% endif %}
          {% for product in products %}
          <div class="{{ class }}">
            <div class="product-card card is-clipped">
              <div class="card-image">
                <figure class="image">
                  <a href="{{ product.href }}" class="is-flex is-justify-content-center" aria-label="{{ product.name }}">
                    <img src="{{ product.thumb }}" loading="lazy" alt="{{ product.name }}" title="{{ product.name }}" />
                  </a>
                  <span class="stock tag {{ product.quantity ? 'is-success' : 'is-danger' }} is-light">{{ product.stock }}</span>
                  {% if product.stickers %}
                  <span class="stickers is-block mb-0">
                  {% for sticker in product.stickers %}
                  <span class="is-block">
                    <span class="{{ sticker.class }}">{{ sticker.content|html_entity_decode }}</span>
                  </span>                    
                  {% endfor %}
                  </span>
                  {% endif %}
                  {% if product.discount %}
                  <span class="discount tag is-danger">-{{ product.discount }}%</span>
                  {% endif %}
                </figure>
              </div>
              <div class="card-content">
                <div class="mb-3">
                  <a class="product-name is-size-6" href="{{ product.href }}">{{ product.name }}</a>
                </div>                  
                <div class="is-flex is-justify-content-space-between is-align-items-center">
                  {% if product.price %}
                  <div class="price">
                    {% if not product.special %}
                    <span class="actual-price">{{ product.price }}{% if product.quantity_unit %}<small class="has-text-grey"> / {{ product.quantity_unit }}</small>{% endif %}</span>
                    {% else %}
                    <span class="actual-price">{{ product.special }}{% if product.quantity_unit %}<small class="has-text-grey"> / {{ product.quantity_unit }}</small>{% endif %}</span>
                    <span class="old-price has-text-grey">{{ product.price }}</span>
                    {% endif %}
                    {% if product.tax %}
                    <span class="price-tax has-text-grey is-size-7">{{ text_tax }} {{ product.tax }}</span>
                    {% endif %}
                  </div>
                  {% endif %}
                  {% if product.rating %}
                  <span class="tag is-light">
                    <span class="icon-text">
                      <span class="icon has-text-warning">
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                          <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                      </span>
                      <span class="has-text-weight-bold">{{ product.rating }}</span>
                    </span>
                  </span>
                  {% endif %}
                </div>
              </div>
              <div class="actions columns is-mobile is-variable is-1 p-2 m-0">
                <div class="column is-4">
                  <button type="button" class="add-to-cart button is-primary is-light is-fullwidth" title="{{ button_cart }}" data-product_id="{{ product.product_id }}" data-minimum="{{ product.minimum }}">                   
                    <span class="icon">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="24" width="24">
                        <path d="M6.5625 6.25h2.5m-1.25 -1.25v2.5m2.5 5.625a0.9375 0.9375 0 1 0 0 -1.875 0.9375 0.9375 0 0 0 0 1.875m-5 0a0.9375 0.9375 0 1 0 0 -1.875 0.9375 0.9375 0 0 0 0 1.875M2.31875 3.375h9.508750000000001c0.86125 0 1.4831250000000002 0.79375 1.2468750000000002 1.5925l-1.03375 3.5C11.881250000000001 9.004999999999999 11.3725 9.375 10.79375 9.375H5.07c-0.579375 0 -1.08875 -0.370625 -1.2475 -0.9075zm0 0L1.875 1.875" stroke-width="1"></path>
                      </svg>  
                    </span>                         
                  </button>
                </div>
                <div class="column is-4">
                  <button type="button" class="add-to-wishlist button is-primary is-light is-fullwidth" title="{{ button_wishlist }}" data-product_id="{{ product.product_id }}">
                    <span class="icon">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="24" width="24">
                        <path d="M4.84375 2.1875C3.2043749999999998 2.1875 1.875 3.5999999999999996 1.875 5.341875 1.875 8.828125 7.5 12.8125 7.5 12.8125s5.625 -3.984375 5.625 -7.470625C13.125 3.1837500000000003 11.795625000000001 2.1875 10.15625 2.1875c-1.1625 0 -2.16875 0.71 -2.65625 1.74375 -0.48750000000000004 -1.03375 -1.4937500000000001 -1.74375 -2.65625 -1.74375" stroke-width="1"></path>
                      </svg>
                    </span>
                  </button>
                </div>
                <div class="column is-4">
                  <button type="button" class="add-to-compare button is-primary is-light is-fullwidth" title="{{ button_compare }}" data-product_id="{{ product.product_id }}">
                    <span class="icon">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="-0.5 -0.5 16 16" stroke-linecap="round" stroke-linejoin="round" stroke="currentColor" height="24" width="24">
                        <path d="M9.375 5.893125V3.125a1.25 1.25 0 0 0 -1.25 -1.25h-1.25a1.25 1.25 0 0 0 -1.25 1.25v5.17875m3.75 -2.410625V13.125m0 -7.231875h2.5a1.25 1.25 0 0 1 1.25 1.25V11.875a1.25 1.25 0 0 1 -1.25 1.25h-2.5m0 0H5.625m0 0v-4.82125M5.625 13.125H3.125a1.25 1.25 0 0 1 -1.25 -1.25v-2.32125a1.25 1.25 0 0 1 1.25 -1.25h2.5" stroke-width="1"></path>
                      </svg>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="columns is-align-items-center is-justify-content-space-between my-3">
          <div class="column is-narrow">{{ pagination }}</div>
          <div class="column is-narrow">{{ results }}</div>
        </div>
        {% endif %}
        {% if not categories and not products %}
        <p>{{ text_empty }}</p>
        <div class="buttons my-3">
          <a href="{{ continue }}" class="button is-primary is-light">{{ button_continue }}</a>
        </div>
        {% endif %}
      </div>
      {{ column_right }}
    </div>
  </div>
  {{ content_bottom }}
</main>
{{ footer }}
