{% if reviews %}
{% for review in reviews %}
<div class="panel">
  <div class="panel-block is-flex is-justify-content-space-between is-align-items-center">
    <span>
      <strong>{{ review.author }}</strong>
    </span>
    <span class="text-right is-size-6 has-text-grey">{{ review.date_added }}</span>
  </div>
  <div class="panel-block is-block">
    <div class="rating-stars">
      {% for i in 1..5 %}
      <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
        class="{% if i <= review.rating %}has-text-warning{% else %}has-text-grey-lighter{% endif %}">
        <path
          d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z" />
      </svg>
      {% endfor %}
    </div>
    <p class="has-text-grey">{{ review.text }}</p>
    {% if review.reply %}
    <div class="mt-2">
      <p>
        <span class="tag is-primary is-light is-medium mr-1">
          <span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5"/>
            </svg>
          </span>
          <span>{{ replier }}</span>
        </span>
        {{ review.reply }}
      </p>
    </div>
    {% endif %}
  </div>
</div>
{% endfor %}
{{ pagination }}
{% else %}
<p>{{ text_no_reviews }}</p>
{% endif %}
