{{ header }}
<main id="information-sitemap">
  {{ content_top }}
  <div class="container">
    <nav class="breadcrumb py-4" aria-label="breadcrumbs" itemscope itemtype="https://schema.org/BreadcrumbList">
      <ul>
        {% for key, breadcrumb in breadcrumbs %}
        {% if key < (breadcrumbs|length - 1) %}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{{ breadcrumb.href }}" itemprop="item">{{ breadcrumb.text }}</a>
        </li>
        {% else %}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <span itemprop="item">{{ breadcrumb.text }}</span>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <div class="columns is-multiline">
      {{ column_left }}
      {% if column_left and column_right %}
      {% set class = 'column is-6-fullhd is-6-widescreen is-6-desktop is-12-tablet is-12-mobile' %}
      {% elseif column_left or column_right %}
      {% set class = 'column is-9-fullhd is-9-widescreen is-9-desktop is-12-tablet is-12-mobile' %}
      {% else %}
      {% set class = 'column is-12' %}
      {% endif %}
      <div id="content" class="{{ class }}">
        <h1 class="title is-3">{{ heading_title }}</h1>
        <div class="columns is-multiline">
          <div class="column is-6-desktop is-12-mobile">
            <ul class="menu-list">
              {% for category_1 in categories %}
              <li><a href="{{ category_1.href }}">{{ category_1.name }}</a>
                {% if category_1.children %}
                <ul>
                  {% for category_2 in category_1.children %}
                  <li><a href="{{ category_2.href }}">{{ category_2.name }}</a>
                    {% if category_2.children %}
                    <ul>
                      {% for category_3 in category_2.children %}
                      <li><a href="{{ category_3.href }}">{{ category_3.name }}</a></li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="column is-6-desktop is-12-mobile">
            <ul class="menu-list">
              <li><a href="{{ special }}">{{ text_special }}</a></li>
              <li><a href="{{ account }}">{{ text_account }}</a>
                <ul>
                  <li><a href="{{ edit }}">{{ text_edit }}</a></li>
                  <li><a href="{{ password }}">{{ text_password }}</a></li>
                  <li><a href="{{ address }}">{{ text_address }}</a></li>
                  <li><a href="{{ history }}">{{ text_history }}</a></li>
                  <li><a href="{{ download }}">{{ text_download }}</a></li>
                </ul>
              </li>
              <li><a href="{{ history }}">{{ text_cart }}</a></li>
              <li><a href="{{ checkout }}">{{ text_checkout }}</a></li>
              <li><a href="{{ search }}">{{ text_search }}</a></li>
              <li>{{ text_information }}
                <ul>
                  {% for information in informations %}
                  <li><a href="{{ information.href }}">{{ information.title }}</a></li>
                  {% endfor %}
                  <li><a href="{{ contact }}">{{ text_contact }}</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {{ column_right }}
    </div>
  </div>
  {{ content_bottom }}
</main>
{{ footer }}
